


.domainsetpage{
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.3);
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.setdomainbl{
    width: 1100px;
    height: 500px;
    background-color: #1C2334;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    position: relative;
    overflow: hidden;
}

.domainInfosetbl{
    display: flex;
    flex-direction: column;
    width: 30%;
    align-items: center;
    padding-top: 50px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.5);
    z-index: 10;
}
.domainInfosetbl h1{
    font-weight: 480;
    font-family: 'Minecraftia', monospace;
    margin-top: 50px;
}

.domainsetexit{
    position: absolute;
    right: 20px;
    top: 20px;
    display: flex;
    align-items: center;
    background-color: #1C2334;
}
.domainsetexit:hover{
    opacity: 0.8;
}

.domainfunctionsetbl{
    display: flex;
    flex-direction: column;
    width: 70%;
    height: 84%;
    position: absolute;
    right: 0;
    bottom: 0;
    background-color: #161F2F;
}

.recordcreateblock{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/*common computer*/
@media (min-width: 1024px){
    .domainInfosetbl h1{
        font-size: 25px;
    }

    .domainsetexiticon{
        width: 20px;
    }
}