

.onAuctionBills{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 30px;
}

.onAuctionItem{
    display: flex;
    flex-direction: row;
    height: 90px;
    position: relative;
    justify-content: space-between;
    align-items: center;
    margin-top: 3px;
}
.onAuctionItem:hover{
    background-color: #1C2334;
}

.itemline{
    width: 100%;
    height: 1px;
    background-color: white;
    position: absolute;
    bottom: 0;
    opacity: 0.4;
}

.priceAndhighest{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.auctionPrice{
    display: flex;
    flex-direction: row;
    align-items: baseline;
    gap: 10px;
}
.auctionPrice h1{
    font-size: 14px;
    color: white;
    margin: 0;
}
.auctionPrice h2{
    color: white;
    margin: 0;
}

.biddershow{
    display: flex;
    flex-direction: row;
    align-items: baseline;
    gap: 10px;
}
.biddershow h1{
    color: #B4FC75;
    font-size: 17px;
    margin: 0;
}
.biddershow h2{
    font-size: 13px;
    color: #95948A;
    margin: 0;
}

.auctionState{
    display: flex;
    flex-direction: row;
    margin-right: 10px;
    gap: 20px;
}

.timeshow{
    display: flex;
    flex-direction: row;
    align-items: baseline;
    gap: 5px;
}
.timeshow h2{
    margin: 0;
    font-size: 14px;
    color: white;
}

.settleBU{
    width: 100px;
    height: 50px;
    background-color: #B4FC75;
    display: flex;
    align-items: center;
    justify-content: center;
}
.settleBU h1{
    font-size: 18px;
    color: black;
    font-weight: 500;
}

.increaseBU{
    width: 100px;
    height: 50px;
    background-color: #B4FC75;
    display: flex;
    align-items: center;
    justify-content: center;
}
.increaseBU h1{
    font-size: 15px;
    color: black;
}