

.extractmount{
    width: 60%;
    background-color: #161F2F;
    border-radius: 20px;
    padding: 40px;
    color: white;
    height: 200px;
}
.extractmount h1{
    margin: 0;
    padding: 0;
    opacity: 0.4;
    font-weight: 200;
    font-size: 18px;
}




@media (min-width: 1024px){
    
}
@media (width < 1024px){

    .extractmount{
        padding: 40px 30px;
        width: calc(96% - 60px);
    }
}
@media (width < 640px){

}
