

.extractmount{
    width: 60%;
    background-color: #161F2F;
    border-radius: 20px;
    padding: 40px;
    color: white;
    height: 100px;
    display: flex;
    flex-direction: column;
}
.extractmount h1{
    margin: 0;
    padding: 0;
    opacity: 0.7;
    font-weight: 600;
    font-size: 18px;
}

.totalandavailable{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.totalandavailable h3{
    color: white;
    font-size: 18px;
}
.totalandavailable h2{
    color: #B4FC75;
    font-size: 18px;
}

.extractline{
    width: 100%;
    background-color: white;
    height: 1px;
    filter: blur(1px);
}

.extractAdd{
    color: #B4FC75 !important;
}

@media (min-width: 1024px){
    
}
@media (width < 1024px){

    .extractmount{
        padding: 40px 30px;
        width: calc(96% - 60px);
    }
}
@media (width < 640px){

}
