


.domainrecommendomit{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 200px;
    background-color: #1C2334;
    gap: 20px;
    padding: 20px;
    border: 2px solid #434C52;
}

.omitset{
    position: relative;
    width: 100%;
    height: 40px;
    display: flex;
    flex-direction: row;
    font-family: 'Minecraftia', monospace;
}

.omitsetitle{
    position: absolute;
    display: flex;
    flex-direction: row;
    height: 100%;
    align-items: center;
    left: 10px;
    gap: 20px;
}

.omitsetitle h1{
    color: white;
    opacity: 0.9;
}

.omitsetfunction{
    position: absolute;
    left: 430px;
    display: flex;
    flex-direction: row;
    gap: 20px;
    height: 100%;
    align-items: center;
}

.omitsetrefresh{
    background-color: #1C2334;
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
}

.omitsetrefresh:hover {
    opacity: 0.9;
    background-color: #161b27;
}

.omitsetrefresh h1 {
    font-size: 16px;
    color: white;
    opacity: 0.7;
}

.omitsetmycart{
    background-color: #1C2334;
}

.recommendblockomit{
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
    position: relative;
}

.recommendthree{
    width: 70%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.getMore{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    
}

.getMore h1{
    color: white;
    text-align: center;
    font-family: 'Minecraftia', monospace;
}

.getmorerecommend{
    background-color: #B4FC75;
    border-radius: 3px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.getmorerecommend:active{
    transform: translateY(2px) translateX(2px);
}

.getmorerecommend h1{
    margin: 0;
    padding: 0;
    color: black;
}

/*common computer*/
@media (min-width: 1024px){
    .domainrecommendomit{
        width: 1000px;
        height: 360px;
        border-radius: 30px;
    }

    .mushroom{
        height: 30px;
    }
    
    .omitsetitle h1{
        font-size: 20px;
    }

    .getMore h1{
        font-size: 21px;
    }

    .recommendthree{
        gap: 40px;
    }

    .getmorerecommend h1{
        font-size: 20px;
    }
    
    .getMore{
        width: 300px;
        gap: 30px;
    }
}