
.paymentBlock{
    display: flex;
    flex-direction: row;
    width: 1024px;
    gap: 30px;
}

.paymintchoose{
    height: 400px;
}

.settlewirdbl{
    margin-bottom: 20px;
}
.settlewirdbl h3{
    color: white;
    font-weight: 600;
    font-size: 24px;
    padding: 0;
    margin: 0;
}

.priceBlock{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 10px;
    align-items: baseline;
}
.priceBlock h3{
    color: #B5B9BF;
    font-weight: 400;
    font-size: 18px;
}
.priceBlock h2{
    color: white;
    font-size: 20px;
}

.cryptodiliver{
    width: 100%;          
    height: 1px;          
    background-color: #e0e0e0; 
    margin: 0px 0; 
    margin-bottom: 20px;
    filter: blur(1px);
}

.payemenCryptotchooser h1{
    font-size: 25px;
}

.reffererattention{
    position: relative;
    display: flex;
    width: 100%;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-between;
}
.reffererattention h4 {
    color: #B5B9BF;
    font-weight: 400;
    font-size: 18px;
    margin: 0;
    margin-bottom: 15px;
}

.refferrerattention{
    width: 23px;
}

.importantattention{
    display: flex;
    flex-direction: column;
}
.importantattention h2{
    color: #B5B9BF;
    font-weight: 400;
    font-size: 18px;
}

.refferrerpolicy{
    display: flex;
    flex-direction: row;
    align-items: baseline;
    margin-left: 20px;
    gap: 10px;
}
.refferrerpolicy h2{
    color: white;
    font-weight: 500;
    font-size: 16px;
    margin: 0;
}
.refferrerpolicy a{
    color: #95A6C1;
    font-weight: 500;
    font-size: 16px;
    margin: 0;
    text-decoration: underline;
}

@media (min-width: 1024px){
    
}