


.downloadbrave{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 200px;
}

.downloadbrave h1{
    color: #B4FC75;
    margin: 0;
    font-weight: 00;
}

/*common computer*/
@media (min-width: 1024px){
    .downloadbrave{
        width: 1024px
    }
}