
.auctiondomainomit{
    display: flex;
    flex-direction: row;
    align-items: center;
    font-family: 'Minecraftia', monospace; 
    margin-top: 360px;
    justify-content: center;
}

.auctionomittitle{
    display: flex;                                                                                                                                  
    flex-direction: column;
    text-align: left;

    width: 75%;
}

.auctionomittitle h1{
    color: #B4FC75;
    margin: 0;
    padding: 0;
    line-height: 1.8;
}

.auctionomittitle h2{
    color: white;
    opacity: 0.9;
    margin: 0;
    padding: 0;
    padding-top: 10px;
    line-height: 1.8;
}


.gotoauctionomit{
    gap: 30px;
    padding: 20px;
    margin-left: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.gotoauctionomit h1{
    margin: 0;
    padding: 20px 10px;
    color: white;
}

.gotoauctionomitbutton{
    background-color: #B4FC75;
    width: 220px;
    padding: 0;
    height: 60px;
}

.gotoauctionomitbutton h1{
    background-color: #B4FC75;
    padding: 0;
    margin: 0;
    color: black;
}

.gotoauctionomitbutton:active{
    transform: translateY(2px) translateX(2px);
}


@media (min-width: 1024px){
    .auctiondomainomit{
        width: 1200px;
        gap: 30px;
    }

    .auctionomittitle h1{
        font-size: 20px;
    }

    .auctionomittitle h2{
        font-size: 19px;
    }

    .phoneBar h1{
        font-size: 17px;
    }

    .gotoauctionomit h1{
        font-size: 37px;
    }
    
    .gotoauctionomitbutton h1{
        font-size: 20px;
    }
}