# Path to the shell script to execute after IPFS upload
# The script will be called as: <script> <DEPLOY_SCRIPT_ARG1> <cid>
DEPLOY_SCRIPT_PATH=./scripts/post-deploy.sh

# First argument passed to the deploy script (e.g. pinning duration in days)
DEPLOY_SCRIPT_ARG1=10

# IPNS key name to publish the CID to
IPNS_KEY_NAME=web
