
.launchctypto{
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 40px;
    margin-top: 20px;
}

.launchfeeway{
    width: 60%;
    background-color: #161F2F;
    border-radius: 20px;
    padding: 40px;
    color: white;
}
.launchfeeway h1{
    margin: 0;
    padding: 0;
    opacity: 0.4;
    font-weight: 200;
    font-size: 18px;
}

.attention{
    margin: 0;
    margin-top: 15px;
    opacity: 0.4;
    font-size: 18px;
}

.attentionblock{
    margin-top: 5px;
    width: calc(100% - 30px);
    background-color: #434C52;
    height: 50px;
    padding: 25px 15px;
    border-radius: 10px;
    display: flex;
    align-items: center;
}
.attentionblock h1{
    font-weight: 460;
    font-size: 17px;
    line-height: 1.5;

}

.launchctyptoline{
    width: 94%;
    height: 2px;
    background-color: white;
    margin-top: 20px;
    filter: blur(1px);
}

@media (min-width: 1024px){
    
}
@media (width < 1024px){
    .launchctypto{
        flex-direction: column;
    }

    .launchfeeway{
        width: calc(100% - 80px);
    }
}
@media (width < 640px){

}


