

.attentionShow{
    display: flex;
    position: absolute;
    opacity: 1;
}

.attentionShow:active{
    opacity: 1;
}

.attentionShowdetail{
    position: absolute;
    width: 250px;
    background-color: #313A44;
    opacity: 1;
    right: calc(-125px + 50%);
    top: calc(100% + 5px);
    z-index: 1;
    border-radius: 5px;
    border: 2px solid #434C52;
}

.attentionShowdetail h1{
    padding: 3px 10px 0 10px;
    color: white;
    font-weight: 500;
    line-height: 1.4;
}

.attentionbumore{
    width: 16px;
}

.attentionShowdetail h1{
    font-size: 13px;
}

/*common computer*/
@media (min-width: 1024px){
    
}

@media (width < 640px){
    .attentionShowdetail h1{
        font-size: 11px;
    }

    .attentionbumore{
        width: 13px;
    }
}
