
.fixedtoast{
    width: 100vw;
    height: 100vh;
    position: fixed; 
    display: flex;
    justify-content: center;   
    z-index: 1200;
    top: 0;
    left: 0; 
    background-color: rgba(0, 0, 0, 0.5);
}

.fixedtoastcon {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    padding: 40px;
    overflow: hidden;
    top: 400px; 
    z-index: 10;
    background-color:   #161F2F;
    border-radius: 18px;
    width: 540px;
    min-height: 200px;
}

.transactiontoastclose{
    position: absolute;
    right: 30px;
    top: 20px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #161F2F;
}
.transactiontoastclose:hover{
    opacity: 0.8;
}

.transactionclose{
    width: 20px;
}

.scalesuccess{
    transform: scale(0.6);
}

/*common computer*/
@media (min-width: 1024px){
    
}
@media (width < 1024px){
    
}
@media (width < 760px){
    .fixedtoastcon{
        padding: 20px;
        width: calc(94% - 40px);
        top: 200px;
        border-radius: 13px;
        min-height: 160px;
    }

    .transactiontoastclose{
        right: 10px;
        top: 10px;
        width: 40px;
        height: 40px;
    }

    .transactionclose{
        width: 16px;
    }
}
@media (width < 640px){
    
}

