
.adminbl{
    height: 100vh;
    width: 100vw;
}

.startpjbl{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 60px;
    margin-top: 300px;
}
.startpjbl h1{
    font-size: 98px;
    color: white;
}

.startProject{
    width: 300px;
    height: 80px;
    background-color: #B4FC75;
    display: flex;
    align-items: center;
    justify-content: center;
}
.startProject h1{
    padding: 0;
    margin: 0;
    font-size: 30px;
    font-family: 'Minecraftia', monospace;
    color: black;
}
.startProject:active{
    transform: translateY(2px) translateX(2px);
}


.projectStartbl{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 60px;
}

