

.usrback{
    width: 100%;
    background-color: #062548;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    height: 300px;
}


/*common computer*/
@media (min-width: 1024px){

}
@media (width < 1024px){
    .usrback{
        height: 250px;
    }
}
@media (width < 640px){
    .usrback{
        height: 160px;
    }
}