

.usrback{
    width: 100%;
    background-color: #001445;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    height: 300px;
    position: relative;
    overflow: hidden;
}

.manageposition{
    position: absolute;
    bottom: 0;
    width: 1024px;
}

.usrbacki{
    width: 3000px;
    position: absolute;
    z-index: 0;
    opacity: 0.5;
}


/*common computer*/
@media (min-width: 1024px){

}
@media (width < 1024px){
    .usrback{
        height: 250px;
    }

    .manageposition{
        width: 100%;
    }
}
@media (width < 640px){
    .usrback{
        height: 160px;
    }

    .usrbacki{
        width: 1600px;
    }
}