

.usrdomain{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.mydomintitle{
    width: 100%;
}
.mydomintitle h1{
    font-weight: 600;
    color: white;
}

.linedomain{
    width: 100%;
    margin: 0px 0;
    height: 1px;
    background-color: white;
    opacity: 0.6;
}

.mydomainsbl{
    width: calc(100% - 60px);
    display: flex;
    padding: 30px;
}

.mydomainblno{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.mydomainblno h1{
    color: white;
    font-size: 24px;
    font-weight: 500;
}

.mydomainblco{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    gap: 24px;
    row-gap: 60px;
}

.mydomaincontent{
    height: auto;
    display: flex;
    height: 100px;
}

/*common computer*/
@media (min-width: 1024px){
    .mydomintitle h1{
        font-size: 22px;
    }
}