
.domainusrshow{
    margin-top: 100vh;
    z-index: 20;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.domainusrshowcontent{
    display: flex;
    flex-direction: column;
}

.domainusrshowcontent h1{
    font-family: 'Minecraftia', monospace;
    color: #B4FC75;
    margin: 0;
    padding-left: 20px;
}

.domainusrshowcontent h2{
    color: white;
    font-weight: 500;
    margin: 0;
    opacity: 0.5;
}

.domainusrshowdiliver{
    margin: 0 100px;
    width: 1px;
    height: 90%;
    background-color: white;
}

/*common computer*/
@media (min-width: 1024px){
    .domainusrshow{
        width: 1300px;
    }

    .domainusrshowcontent{
        gap: 30px;
    }

    .domainusrshowcontent h2{
        font-size: 30px;
    }
}