

.auctiondomainsrecommend{
    padding: 20px 30px 30px 30px;
    width: calc(100% - 60px);
    background-color: #0F192C;
    margin-top: 60px;
    border: 1px solid #434C52;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    z-index: 10;
}

.domainsvg{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 12px;
}
.domainsvg h1{
    margin: 0;
    color: white;
    padding: 0;
    font-size: 16px;
    font-weight: 500;
}

.domainsvgbl{
    border: 1px solid #434C52;
    border-radius: 7px;
    padding: 4px;
    width: 25px;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.domainsvgi{
    width: 20px;
}

.auctiondomainrecommendcon{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.recommendchangepage{
    height: 40px;
    background-color: #242B3E;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

@media (min-width: 1024px){

}
@media (width < 1024px){
}
@media (width < 880px){
    .auctiondomainrecommendcon{
        flex-direction: column;
    }

    .auctiondomainsrecommend{
        margin-top: 50px;
        margin-bottom: 100px;
    }

    .domainsvg h1{
        font-size: 14px;
    }
}
@media (width < 640px){
    
}