

.marketdown{
    position: absolute;
    background-color: #1C2334;
    width: 200%;
    left: -50%;
    margin-top: 20px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid #434C52;
    transform: scale(0.8);
    opacity: 0;
}

.marketdowncontent{
    padding: 20px 10px;
    width: calc(100% - 20px);
    display: flex;
    flex-direction: column;
    gap: 10px;
}


.marketchoosebubl{
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.marketchoosebu{
    display: flex;
    flex-direction: row;
    gap: 20px;
    text-align: left;
    background-color: #1C2334;
    padding: 10px;
    align-items: center;
    width: 90%;
}
.marketchoosebu:hover{
    background-color: #434C52;
}
.marketchoosebu h1{
    margin: 0;
    color: white;
    opacity: 0.5;
    font-family: 'Minecraftia', monospace;
    font-size: 12px;
}

.attentionShow {
    right: 5px;
}

.attentionbumore{
    opacity: 0.6;
}

.markettypeimg{
    width: 20px;
}

.marketbumore{
    width: 16px;
}

/*common computer*/
@media (min-width: 1024px){

}

@media (width < 1024px){

}

@media (width < 640px){
    .marketchoosebu h1{
        font-size: 9px;
    }
    .marketchoosebu{
        gap: 10px;
        padding: 10px 5px;
        width: 85%;
    }

    .marketdowncontent{
        padding: 10px;
        gap: 8px;
    }

    .markettypeimg{
        width: 15px;
    }

}