


.navigation{
    position: absolute;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
    left: 30px;
}

.navigatebutton{
    background-color: black;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    padding: 0 10px;
    height: 50px;
}
.navigatebutton h1{
    padding: 0;
    margin: 0;
    font-weight: 600;
    font-size: 16px !important;
}

.greenword h1{
    color: #B4FC75;
}

.navigateobjectblock{
    position: relative;
}

.opensearchomit{
    background-color: #050505;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 50px;
}

.pixelsearch{
    transform: rotate(-45deg);
}

.opensearchomit{
    display: flex;
    flex-direction: row;
    opacity: 0.8;
    align-items: center;
    gap: 20px;
}
.opensearchomit h1{
    color: rgb(214, 234, 234);
    font-size: 16px !important;
}

.topbarlinenavi{
    width: 1px;
    height: 40px; 
    background-color: white; 
    margin: 0 15px; 
    opacity: 0.9;
    filter: blur(1px);
}

.topbarline{
    width: 1px;
    height: 40px; 
    background-color: white; 
    margin: 0 15px; 
    opacity: 0.9;
    filter: blur(1px);
}

.greenwordsearch h1{
    color: #B4FC75;
}

.navigatebutton h1{
    font-size: 13px;
}

.topbarhomeicon{
    width: 19px;
}

.pixelsearch{
    width: 30px;
}

.opensearchomit h1{
    font-size: 14px;
}

/*common computer*/
@media (min-width: 1024px){
    
}

@media (width < 1024px){
    .opensearchomit h1 {
        display: none;
    }
    .topbarlinenavi{
        margin: 0 0px;
    }
}

@media (width < 640px){
    .topbarlinenavi{
        display: none;
    }
    .opensearchomit{
        display: none;
    }

    .navigation{
        left: 5px;
    }

    .navigatebutton h1{
        font-size: 12px;
    }

    .topbarhomeicon{
        display: none;
    }
}


