


.navigation{
    position: absolute;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
    background-color: black;
    left: 25%;
}


.navigatebutton{
    background-color: black;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    padding: 0 10px;
    height: 50px;
}

.navigateobjectblock{
    position: relative;
}

.navigatebutton h1{
    padding: 0;
    margin: 0;
    color: white;
    opacity: 0.8;
    font-weight: 400;
    font-family: 'Minecraftia', monospace;
}

.greenword h1{
    color: #B4FC75;
}

.opensearchomit{
    background-color: black;
    height: 50px;
}

.pixelsearch{
    transform: rotate(-45deg);
}

.opensearchomit{
    display: flex;
    flex-direction: row;
    opacity: 0.8;
    align-items: center;
    gap: 20px;
}

.opensearchomit h1{
    color: rgb(214, 234, 234);
    font-family: 'Minecraftia', monospace;
}

.topbarline{
    width: 1px;
    height: 40px; 
    background-color: white; 
    margin: 0 15px; 
    opacity: 0.9;
    filter: blur(1px);
}

.greenwordsearch h1{
    color: #B4FC75;
}

/*common computer*/
@media (min-width: 1024px){
    .navigatebutton h1{
        font-size: 16px;
    }

    .topbarhomeicon{
        width: 22px;
    }

    .pixelsearch{
        width: 30px;
    }

    .opensearchomit h1{
        font-size: 14px;
    }
}


