

.topbarwalletblcok{
    height: 100%;
    display: flex;
    align-items: center;
    position: absolute;
    right: 30px;
    display: flex;
    flex-direction: row;
}

.topbarmedia{
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100%;
}



/*common computer*/
@media (min-width: 1024px){
    
}

@media (width > 1400px){
    .topbarmedia{
        width: 1400px;
    }
}

@media (width < 640px){
    .topbarwalletblcok{
        right: 5px;
    }
    .topbar{
        height: 60px;
    }

    
}