


.backtoLastPage{
    display: flex;
    flex-direction: row;
    gap: 20px;
    background-color: #081328;
    position: absolute;
    left: 0;
    align-items: center;
}

.backtoLastPage:hover{
    opacity: 0.7;
}

.backtoLastPage h1{
    color: white;
    margin: 0;
    font-weight: 400;
    opacity: 0.8;
}


@media (min-width: 1024px){
    .backtoLastPage h1{
        font-size: 26px;
    }

    .backtoLastPageimg{
        width: 30px;
    }
}