

.wallet{
    background-color: #161F2F;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    padding: 0;
    overflow: hidden;
}

.walletpackage{
    position: relative;
    height: auto;
}

.walletconnect{
    background-color: #B4FC75;
    width: 100%;
}

.wallet h1{
    color: white;
}

.walletConnected{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 12px;
}

.walletusericon{
    background-image: url("/usr/usricon.png");
    background-size:contain;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 50%;
    background-size: 200%;  
}

.walletarray{
    border-radius: 50%;
    background-color: #434C52;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: rotate(180deg);
}

/*common computer*/
@media (min-width: 1024px){
    .wallet{
        width: 220px;
        height: 100%;
        border-radius: 7px;
    }

    .walletpackage{
        height: 66%;
    }

    .walletusericon{
        width: 20px;
        height: 20px;
    }

    .walletConnected h1{
        font-size: 15px;
        font-weight: 550;
    }

    .walletconnect{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .walletconnect h1{
        color: black;
        font-size: 16px;
        font-weight: 440;
    }

    .walletarray{
        height: 16px;
        width: 16px;
    }

    .arrayicon{
        width: 12px;
    }
}