

.wallet{
    background-color: #161F2F;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    padding: 0;
    overflow: hidden;
    width: 220px;
    height: 100%;
    border-radius: 7px;
}
.wallet h1{
    color: white;
}

.walletpackage{
    position: relative;
    height: auto;
    height: 66%;
}

.walletconnect{
    background-color: #B4FC75;
    width: 100%;
    height: 100%;
}
.walletconnect:hover{
    opacity: 0.8;
}



.walletConnected{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 12px;
}

.walletusericon{
    border-radius: 50%;
    width: 26px;
    height: 26px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}
.walletConnected h1{
    font-size: 15px;
    font-weight: 550;
}

.walletarray{
    border-radius: 50%;
    background-color: #434C52;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: rotate(180deg);
}


.walletpackage{
    height: 66%;
}


.walletconnect{
    display: flex;
    justify-content: center;
    align-items: center;
}
.walletconnect h1{
    color: black;
    font-size: 16px;
    font-weight: 440;
}

.walletarray{
    height: 16px;
    width: 16px;
}

.arrayicon{
    width: 12px;
}

.walletconnectimg{
    display: none;
}

/*common computer*/
@media (min-width: 1024px){
    
}

@media (width < 1024px){
    .wallet{
        width: 160px;
    }
}

@media (width < 750px){
    .walletConnected h1{
        display: none;
    }
    .walletarray{
        display: none;
    }
    .wallet{
        width: 50px;
    }

    .walletconnect h1{
        display: none;
    }
    .walletconnectimg{
        display: flex;
        width: 20px;
    }
}

