
.walletchooser{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.walletchoosebackgroud{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(44, 43, 43, 0.6);
    backdrop-filter: blur(10px); /* 模糊强度 */
    -webkit-backdrop-filter: blur(10px);
}

.walletchoosecotent{
    position: relative;
    width: 480px;
    max-height: 700px;
    min-height: 240px;
    padding: 20px;
    border-radius: 16px;
    background-color: #10141F;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-height: 1000px;
}

.walletchoosetop{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 80%;
}
.walletchoosetop h1{
    font-size: 21px;
    margin-top: 50px;
    font-weight: 360;
    color: white;
    text-align: center;
}

.walletchooseclosebutton{
    position: absolute;
    border-radius: 50%;
    box-sizing: border-box;
    padding: 0; 
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    background-color: #1A1F2E;
    width: 35px;
    height: 35px;
    right: 10%;
}
.walletchooseclosebutton:focus,
.walletchooseclosebutton:active{
    border: none;
    outline: none;
}

.exiticon{
    width: 16px;
}

.walletchoosebutton{
    width: 80%;
    display: flex;
    flex-direction: row;
    outline: none;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    margin-bottom: 13px;
    height: 50px;
    gap: 30px;
}
.walletchoosebutton h1{
    font-size: 18px;
    color: black;
    font-weight: 600;
}
.walletchoosebutton h2{
    font-weight: 400;
    text-align: right;
    font-size: 18px;
}
.walletchoosebutton:hover{
    opacity: 0.9;
}

.walletchoosebl{
    margin-top: 10px;
    width: calc(100% - 60px);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    overflow: hidden;
}
.walletchoosebl::-webkit-scrollbar {
    width: 6px;
}

.walletchoosebuleft{
    display: flex;
    flex-direction: row;
    gap: 15px;
    align-items: center;
}

.optionalwallet{
    width: 80%;
    position: relative;
    text-align: right;
    height: 30px;
    background-color: #10141F;
}

.optionalwalletbu{
    display: flex;
    flex-direction: row;
    gap: 10px;
    position: absolute;
    right: 0;
    background-color: #10141F;
}
.optionalwalletbu h1{
    font-size: 14px;
    margin: 0;
    color: white;
}

.optionalarray{
    width: 12px;
}

/*common computer*/
@media (min-width: 1024px){

}
@media (width < 1024px){

}
@media (width < 640px){
    .walletchoosecotent{
        width: 90%;
        padding: 5px;
    }

    .walletchoosetop h1{
        font-size: 15px;
    }

    .walletchooseclosebutton{
        right: 4%;
    }

    .walletchoosebutton{
        justify-content: space-between;
        margin-bottom: 8px;
        margin-top: 4px;
        height: 40px;
        width: 90%;
    }
    .walletchoosebutton h1{
        font-size: 14px;
    }

    .walletchoosebl{
        margin-top: 10px;
        margin-bottom: 20px;
    }
}

