

.domainauctionstateshow{
    height: 280px;
    background-color: #161F2F;
    width: calc(100% - 60px);
    border-radius: 10px;
    padding: 30px;
    position: relative;
}
.domainauctionstateshow h1{
    color: white;
    font-size: 25px;
    margin: 0;
}

.auctionstateshowline{
    width: 100%;
    height: 2px;
    background-color: white;
    filter: blur(1px);
    margin: 10px 0;
    opacity: 0.8;
}

.rentpayer{
    display: flex;
    flex-direction: row;
    position: absolute;
    bottom: 40px;
    left: 50px;
    height: 56px;
}

.renthead{
    border: 1px solid #95A6C1;
    padding: 10px 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20%;
}

.rentimg{
    width: 30px;
}

.rentintroduce{
    margin-left: 15px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    overflow: hidden;
}
.rentintroduce h1{
    font-size: 14px !important;
    margin: 0;
    padding: 0;
}
.rentintroduce a{
    font-size: 14px;
    margin: 0;
    padding: 0;
    color: #95A6C1;
    text-decoration: underline;
}

.rentloading{
    width: 100px;
    height: 20px;
    border-radius: 10px;
    background: linear-gradient(
        120deg,
        transparent 0%,
        rgba(255, 255, 255, 0.3) 50%,
        transparent 100%
    );
    animation: shimmerMove 2s infinite linear;
}

@keyframes shimmerMove {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(200%);
    }
}

.auctionState{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.highestbid{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}
.highestbid h1{
    font-size: 18px;
    margin: 0;
}
.highestbid h2{
    font-size: 25px;
    color: #B4FC75;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 10px;
    font-family: 'Minecraftia', monospace;
}
.highestbid h3{
    color: #95A6C1;
    font-size: 28px;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 10px;
    font-family: 'Minecraftia', monospace;
}

.priceline{
    width: 280px;
    background-color: white;
    opacity: 0.8;
    height: 1px;
    filter: blur(1px);
}

.bidderandconfirm{
    width: 50%;
    padding: 0px 20px;
    overflow: hidden;
    margin-top: 20px;
    border-radius: 15px;
    border: 2px solid #434C52;
}

.bidder{
    overflow: hidden;
}

.lodingbidder{
    height: 200px;
    background: linear-gradient(
        120deg,
        transparent 0%,
        rgba(255, 255, 255, 0.3) 50%,
        transparent 100%
    );
    animation: shimmerMove 2s infinite linear;
}

.statebiddershowno,
.statebiddershow{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 220px;
    gap: 40px;
}
.statebiddershowno h1{
    color: white;
    font-size: 26px;
}

.statebidderkeyshow{
    display: flex;
    flex-direction: row;
    gap: 40px;
}

.bidderhead{
    padding: 8px 10px;
    border: 1px solid #95A6C1;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20%;
}
.bidderheadimg{
    width: 40px;
}

.bidderandkey{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.bidderandkey h1{
    font-size: 19px;
    color: white;
}
.bidderandkey a{
    color: #95A6C1;
    font-size: 17px;
}

.addToMyfollow{
    background-color: #B4FC75;
    width: 300px;
    padding: 20px 0;
}
.addToMyfollow h1{
    color: black;
    font-size: 19px;
}
.addToMyfollow:hover{
    opacity: 0.8;
}


@media (min-width: 1024px){
    
}
@media (width < 1280px){
    .domainauctionstateshow h1{
        font-size: 20px;
    }

    .highestbid h1{
        font-size: 18px;
    }
}
@media (width < 1024px){
    .rentpayer{
        display: none;
    }

    .auctionState{
        align-items: center;
    }

    .bidderhead{
        display: none;
    }

    .bidderandkey{
        flex-direction: row;
        align-items: baseline;
    }
    .bidderandkey h1{
        font-size: 16px;
    }
    .bidderandkey a{
        font-size: 15px;
    }

    .addToMyfollow{
        width: 80%;
    }
    .addToMyfollow h1{
        font-size: 16px;
    }

    .bidderandkey{
        gap: 10px;
    }
    
    .statebiddershowno,
    .statebiddershow{
        height: 140px;
    }    

    .lodingbidder{
        height: 140px;
    }
    

    .statebiddershow{
        gap: 20px;
    }

    .domainauctionstateshow{
        height: auto;
    }
}
@media (width < 640px){
    .domainauctionstateshow{
        padding: 20px;
        width: calc(100% - 40px);
        margin-bottom: 160px;
    }
    .domainauctionstateshow h1{
        font-size: 15px;
    }

    .auctionState{
        flex-direction: column !important;
        width: 100%;
    }

    .highestbid{
        margin-top: 10px;
        width: 100%;
    }
    .highestbid h1{
        font-size: 13px;
    }
    .highestbid h2,
    .highestbid h3{
        font-size: 18px;
        margin-top: 10px;
    }

    .priceline{
        width: 100%;
    }

    .bidderandconfirm{
        width: calc(100% - 40px);
        margin-top: 10px;
        overflow: hidden;
    }

    .addToMyfollow{
        padding: 15px 0;
    }
}