

.domainpriceShow{
    height: 80px;
    background-color: #161F2F;
    width: calc(100% - 60px);
    border-radius: 10px;
    padding: 30px;
}
.domainpriceShow h1{
    color: white;
    margin: 0;
    font-size: 18px;
}

.priceshowline{
    width: calc(100%);
    height: 1px;
    margin: 5px 0;
    background-color: white;
    filter: blur(1px);
}

.showAndset{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 60px;
    align-items: center;
}
.showAndset h1{
    font-family: 'Minecraftia', monospace;
    color: #8DA6BC;
    font-size: 25px;
}

.customsetbu{
    background-color: #B4FC75;
    width: 30%;
    padding: 6px 10px;
}
.customsetbu h1{
    color: black;
    margin: 0;
    font-size: 20px;
    font-family: 'Plus Jakarta Sans', sans-serif;
}
.customsetbu:hover{
    opacity: 0.8;
}

.priceandsetcom{
    overflow: hidden;
    margin-top: 10px;
}

.stateLoading{
    width: 100%;
    height: 60px;
    border-radius: 10px;
    background-color: rebeccapurple;
    background: linear-gradient(
        120deg,
        transparent 0%,
        rgba(255, 255, 255, 0.3) 50%,
        transparent 100%
    );
    animation: shimmerMove 2s infinite linear;
    overflow: hidden;
}

@keyframes shimmerMove {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(200%);
    }
}

