

.domainSethead{
    width: 100%;
    height: 260px;
    background-color: #161F2F;
    margin-top: 180px;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.setheadback{
    width: 100%;
    position: absolute;
    top: 0;
    background-color: #062A38;
    height: 130px;
}


.domainsetpagehead{
    z-index: 10;
    width: 170px;
    height: 170px;
    border-radius: 50%;
    overflow: hidden;
    margin-left: 40px;
}

.domainsetinfo{
    z-index: 10;
    display: flex;
    flex-direction: column;
    margin-left: 50px;
}

.domainsetname{
    display: flex;
    flex-direction: row;
    align-items: baseline;
}
.domainsetname h1{  
    color: white;
    font-size: 32px;
    margin: 0;
}
.domainsetname h2{
    font-size: 32px;
    color: #95948A;
    margin: 0;
}

.domainsetfeature{
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: baseline;
}
.domainsetfeature h2{
    font-size: 17px;
    margin: 0;
    color: white;
    margin-top: 50px;
}

.domainsetfeatureshow{
    border: 1px solid #FDC83D;
    border-radius: 16px;
}
.domainsetfeatureshow h1{
    color: #FDC83D;
    padding: 5px 10px;
    margin: 0;
    font-size: 15px;
}
