

.detaildomainitem{
    height: 90px;
    margin-top: 10px;
    display: flex;
    position: relative;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.detaildomainitem:hover{
    background-color: #1C2334;
}

.detailitem{
    margin-left: 10px;
}

.detailitemline{
    position: absolute;
    bottom: 0;
    height: 1px;
    width: 100%;
    background-color: white;
    opacity: 0.8;
    filter: blur(1px);
}

.detailfuction{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 30px;
}

.detailimg{
    opacity: 0.8;
    width: 33px;
}
.detailprice{
    width: 35px;
}
.detailsale{
    width: 30px;
}

.detailToopensetting{
    width: 150px;
    margin-right: 20px;
    background-color: #B4FC75;
}
.detailToopensetting h1{
    font-size: 18px;
    padding: 3px 0;
    margin: 0;
    color: black;
}

.realhead{
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
}

.itemhead{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 30px;
    width: 60%;
    justify-content: space-between;
}

.head1{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
}

.itemdomainame{
    display: flex;
    flex-direction: row;
    align-items: baseline;
}
.itemdomainame h1{
    font-size: 23px;
    color: white;
}
.itemdomainame h2{
    font-size: 23px;
    color: #95948A;
}

.couldCopyIpfs{
    cursor: pointer;
}

@media (min-width: 1024px){
    
}
@media (width < 1024px){
    .detaildomainitem{
        margin-top: 5px;
        height: 80px;
    }
}
@media (width < 640px){
    .itemhead{
        margin-left: 5px;
        width: 80%;
    }

    .realhead{
        gap: 10px;
    }

    .head1{
        scale: 0.8;
    }

    .itemdomainame h1,
    .itemdomainame h2{
        font-size: 16px;
    }

    .detailfuction{
        gap: 8px;
    }

    .detailToopensetting{
        width: 0px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 0;
    }
    .detailToopensetting h1{
        font-size: 13px;
        margin: 0;
        padding: 0;
    }

    .detailimg{
        width: 23px;
    }
    .detailprice{
        width: 27px;
    }
    .detailsale{
        width: 23px;
    }
}
