


.customchoose{
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    padding: 20px 10px;
    border-radius: 10px;
}
.customchoose h3{
    margin: 0;
    font-size: 22px;
    margin: 0;
}

.customInput{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
    overflow: hidden;
}
.customInput h3{
    color: white;
    font-size: 40px;
    margin: 0;
}

.integerdigit{
    width: 100px;
    height: 50px;
    background-color: #081328;
    border-radius: 10px;
    overflow: hidden;
    text-align: right;
}

.decimaldigit{
    width: 40px;
    height: 50px;
    background-color: #081328;
    border-radius: 10px;
    overflow: hidden;
}

.custominput{
    width: calc(100% - 20px);
    height: 100%;
    background-color: black;
    border: none;
    outline: none;
    color: white;
    font-weight: 800;
    font-size: 25px;
    margin: 0;
    padding: 0 10px;
}

.integerinput{
    text-align: right;
}

.decimalinput{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.confirmusecustom{
    width: 16px;
    height: 16px;
    border-radius: 50%;
    padding: 0;
    border: 2px solid white;
    background-color: #B5B9BF;
    margin-left: 5px;
}

.usecusom{
    background-color: #B4FC75;
}

@media (min-width: 1024px){
    
}
@media (width < 1024px){
    .customchoose{
        padding: 20px 5px;
    }
    .customchoose h3{
        font-size: 19px;
    }

    .custominput{
        font-size: 21px;
    }

    .confirmusecustom{
        width: 14px;
        height: 14px;
    }
}
@media (width < 760px){

}
@media (width < 640px){
    .customchoose{
        padding: 0;
    }

    .integerdigit{
        width: 120px;
        border-radius: 6px;
        height: 40px;
    }
    .decimaldigit{
        border-radius: 6px;
        height: 40px;
    }

    .custominput{
        font-size: 16px;
    }
}