

.recordchooser{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    margin-top: 80px;
    gap: 20px;
}

.recordChoosertypeword  {
    width: 60%;
    background-color: #B4FC75;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.recordChoosertypeword h2{
    margin: 0;
    color: black;
    padding: 0;
}
.recordChoosertypeword:hover{
    opacity: 0.8;
}

/*common computer*/
@media (min-width: 1024px){
    .recordChoosertypeword h2{
        font-size: 18px;
    }
}