

.walletdropblock{
    position: absolute;
    height: 200px;
    background-color: #1C2334;
}

/*common computer*/
@media (min-width: 1024px){
    .walletdropblock{
        width: 100%;
        height: 200px;
        background-color: #1C2334;
        top: 80px;
    }
}