

.changeadmin{
    position: absolute;
    background-color: #B4FC75;
    width: 100px;
    height: 50px;
    top: 200px;
    right: 350px;
}

.admin{
    width: 30px;
}

.adminmodelactive{
    background-color: gray;
}