

.launchfee{
    position: fixed;
    width: 100vw;
    height: 100vh;
    z-index: 1200;
    background-color: #081328;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    overflow-y: auto !important;
    overflow: hidden;
}

.launchfeepay{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
    position: relative;
    width: 1024px;
}

.launchfeetitle{
    width: 100%;
    margin-left: 20px;
    text-align: left;
    margin-top: 60px;
    color: white;
}
.launchfeetitle h2{
    font-weight: 600;
    font-size: 32px;
}

.launchrootback{
    top: 0px;
    left: -20px;
}

@media (min-width: 1024px){
    
}
@media (width < 1024px){
    .launchfeetitle h2{
        font-weight: 600;
        font-size: 26px;
    }

    .launchfeepay{
        width: 96%;
    }
}
@media (width < 640px){
    .launchfeetitle h2{
        font-weight: 600;
        font-size: 22px;
    }
}


