

.launchblock{
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.8);
    width: 100vw;
    height: 100vh;
    z-index: 1200;
    display: flex;
    align-items: center;
    justify-content: center;
}

.launchcontent{
    background-color: #161F2F;
    border-radius: 15px;
    padding: 40px;
    display: flex;
    flex-direction: row;
}

.keyindomainname{
    width: 60%;
    padding: 5px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
}

.keyindomainname h1{
    color: white;
    font-weight: 500;
    margin: 0;
}

.rootnameInput{
    width: 90%;
    height: 40px;
    outline: none;
    border: 2px solid #434C52;
    background-color: #161F2F;
    border-radius: 5px;
    padding-left: 10px;
    color: white;
}

.rootnameInput:focus{
    border-color: #B4FC75;
}

.launchbucontainer{
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.launchbu{
    background-color: #B4FC75;
    width: 100px;
    height: 80px;
}

.launchbu:hover{
    opacity: 0.8;
}

@media (min-width: 1024px){


    .launchcontent{
        width: 500px;
        height: 120px;
    }

    .keyindomainname h1{
        font-size: 21px;
    }

    .rocket{
        width: 45px;
    }
}