


.rollstar{
    position: relative;
    background-color: black;
    border: 2px solid white; /* 像素框感 */
    image-rendering: pixelated;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.commonfire{
    position: absolute;
    z-index: 100;
    width: 200px;
    transform:  rotate(90deg);
}


/*common computer*/
@media (min-width: 1024px){
    .rollstar{
        width: 300px;
        height: 100px;
    }
}