
.rootnamechange{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.rootcreateswider{
    width: 100%;
    height: 100%;
    position: relative;
}

.creatingaccountswiper{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}
.creatingaccountswiper h1{
    color: white;
    font-weight: 560;
    font-size: 38px;
}

.creatingaccountloading{
}

.swiper-button-prev,
.swiper-button-next {
    color: white; 
    --swiper-navigation-size: 20px;
}



/*common computer*/
@media (min-width: 1024px){

}
@media (width < 1024px){
    .checklogs h1{
        margin: 0;
        font-size: 16px;
        color: black;
        font-weight: 400;
    }

    .sailtitle h1{
        font-size: 19px;
    }
    
    .creatingaccountswiper h1{
        font-size: 18px;
    }
}
@media (width < 740px){
    
}
@media (width < 640px){

}