
.rootinfobl{
    background-color: #1C2334;
    padding: 10px;
    border-radius: 20px;
    border: 2px solid #434C52;
}

.rootdomainword{
    font-family: 'Minecraftia', monospace;
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-between;
    padding: 10px 20px;
}
.rootdomainword h1{
    color: white;
    margin: 0;
}
.rootdomainword h2{
    color: #B4FC75;
    margin: 0;
}

.sponerhead{
    background-color: #434C52;
}
.sponerhead h1{
    color: #B4FC75;
    margin: 0;
}
.sponerhead:hover{
    opacity: 0.8;
}

.addFuelbutton{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
}
.addfuel{
    height: 50px;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #B4FC75;
}
.addfuel h1{
    font-family: 'Minecraftia', monospace;
    color: black;
}
.addfuel:active{
    transform: translateX(2px) translateY(2px);
}

.rootchecking{
    background-color: #1C2334;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.rootchecking::before{
    content: '';
    position: absolute;
    top: 0;
    left: -200px;
    height: 500px;
    width: 200px;
    background: linear-gradient(
        100deg,
        rgba(255, 255, 255, 0) 0%,
        rgba(255, 255, 255, 0.12) 50%,
        rgba(255, 255, 255, 0) 100%
    );
    filter: blur(8px); /* 模糊边缘，增强真实感 */
    animation: shimmer-sweep 1.5s infinite ease-in-out;
}

@keyframes shimmer-sweep {
    0% {
        left: -200px;
    }
    100% {
        left: 100%;
    }
}

/*common computer*/
@media (min-width: 1024px){
    .rootinfobl{
        width: 520px;
        height: 240px;
    }

    .rootdomainword h1{
        font-size: 18px;
    }
    .rootdomainword h2{
        font-size: 22px;
    }

    .addfuel h1{
        font-size: 20px;
    }
}