.rootdomaininfo{
    width: 100%;
    height: 100%;
}
.rootinfobl{
    padding: 10px;
    width: 90%;
    margin-left: 5%;
    height: calc(100% - 20px);
    position: relative;
}

.rootdomainword{
    font-family: 'Minecraftia', monospace;
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-between;
    padding: 20px 20px;
}
.rootdomainword h1{
    color: white;
    margin: 0;
    font-size: 18px;
}
.rootdomainword h2{
    color: #B4FC75;
    margin: 0;
    font-size: 23px;
}

.rootdomainwords{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px 20px;
    font-family: 'Minecraftia', monospace;
}
.rootdomainwords h1{
    color: white;
    margin: 0;
    font-size: 18px;
}

.sponerhead{
    background-color: #0F192C;
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.sponerhead h1{
    color: #B4FC75;
    margin: 0;
    font-size: 18px;
}
.sponerhead:hover{
    opacity: 0.8;
}

.fundstatesponerhead{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
    border: 2px solid gray;
}

.addFuelbutton{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
    position: absolute;
    bottom: 10px;
}

.addfuel{
    height: 50px;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #B4FC75;
}
.addfuel h1{
    font-family: 'Minecraftia', monospace;
    color: black;
    font-size: 20px;
}
.addfuel:active{
    transform: translateX(2px) translateY(2px);
}

.rootchecking{
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    border-radius: 30px;
}

.rootchecking::before{
    content: '';
    position: absolute;
    top: 0;
    left: -200px;
    height: 500px;
    width: 200px;
    background: linear-gradient(
        100deg,
        rgba(255, 255, 255, 0) 0%,
        rgba(255, 255, 255, 0.12) 50%,
        rgba(255, 255, 255, 0) 100%
    );
    filter: blur(8px); /* 模糊边缘，增强真实感 */
    animation: shimmer-sweep 1.5s infinite ease-in-out;
}

.noitemcolletiing{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}
.waitingconfirmitem{
    position: relative;
    padding: 20px;
}
.noitemcolletiing h1{
    font-size: 45px;
    color: white;
}

.waitingconfirmitembu{
    padding: 10px;
}
.waitingconfirmitembu h1{
    font-size: 19px;
    padding: 20px;
    color: black;
}

@keyframes shimmer-sweep {
    0% {
        left: -200px;
    }
    100% {
        left: 100%;
    }
}

.fulepercent{
    display: flex;
    flex-direction: row;
    align-items: baseline;
    gap: 20px;
    position: relative;
}
.percentmore{
    opacity: 0.5;
}

.showfuelabout{
    position: absolute;
    top: 40px;
    width: 200%;
    height: 40px;
    background-color: #434C52;
    transform: translateX(-25%);
    border: 2px solid rgb(123, 120, 120);
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
}
.showfuelabout h1{
    font-size: 15px;
    color: white;
}

/*common computer*/
@media (min-width: 1024px){

}
@media (width < 740px){
    .sailt{
        text-align: center;
    }
}
@media (width < 1024px){
    .rootdomainword h1{
        font-size: 15px;
    }
    .rootdomainword h2{
        font-size: 15px;
    }
    
    .sponerhead h1{
        font-size: 15px;
    }

    .addfuel{
        width: 80%;
    }
    .addfuel h1 {
        font-size: 15px;
    }
}
@media (width < 640px){
    .rootinfobl{
        margin: 0;
        width: calc(100% - 20px);
    }
    
    .rootdomainword{
        padding: 5px 20px 
    }
    .rootdomainword h1{
        font-size: 12px;
    }

    .sponerhead h1{
        font-size: 12px;
    }
}