

.IncreasePriceCrypto{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: auto;
    gap: 40px;
    margin-top: 20px;
}

.bidincrementblcok{
    display: flex;
    flex-direction: column;
    margin-top: 25px;
}
.bidincrementblcok h3{
    color: #B5B9BF;
    font-weight: 400;
    font-size: 17px;
    margin: 0;
}

.pricebidchoose {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.pricebidchoose h3{
    color: white;
    font-weight: 700;
    margin: 0 30px;
}

.autoChoose{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, auto);   
    gap: 10px;
    margin-top: 8px;
}

.bidbu{
    background-color: #161F2F;
    width: 80px;
    border: 2px solid white;
    margin-top: 5px;
    padding: 6px 0;
    opacity: 0.6;
}
.bidbu h3{
    color: white;
    font-size: 14px;
    margin: 0;
}

.activeborder{
    border-color: #B4FC75;
    opacity: 1;
}
.activeborder h3{
    color: #B4FC75;
}


.custompriceblock{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.confirmcustomline2{
    background-color: #B4FC75;
    height: 4px;
    width: 0;
    border-radius: 8px;
}

.domainpricecheck{
    display: flex;
    flex-direction: column;
    margin-top: 25px;
}
.domainpricecheck h3{
    color: #B5B9BF;
    font-weight: 400;
    font-size: 17px;
    margin: 0;
}

.pricecheck{
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    width: auto;
}

.pricecheckline{
    height: 2px;
    background-color: #B5B9BF;
    width: 100%;
}

.originandnextprice{
    display: flex;
    flex-direction: row;
    gap: 10px;
}
.originandnextprice h3{
    color: white;
    font-size: 18px;
    font-weight: 600;
}

.increaseRefferrerVerfify{
    display: flex;
    flex-direction: column;
    margin-top: 25px;
    gap: 10px;
}
.increaseRefferrerVerfify h3{
    color: #B5B9BF;
    font-weight: 450;
    font-size: 17px;
    margin: 0;
}

@media (min-width: 1024px){
    
}
@media (width < 1024px){
    .IncreasePriceCrypto{
        flex-direction: column;
        align-items: center;
    }

    .bidbu h3{
        font-size: 12px;
    }

    .bidincrementtitle{
        font-size: 15px !important;
    }
}
@media (width < 760px){
    .orwords{
        margin: 0 5px;
    }

    .orwords{
        margin: 0 20px !important;
    }
}
@media (width < 640px){
    .pricebidchoose{
        flex-direction: column;
        gap: 10px;
    }
    .pricebidchoose h3{
        font-size: 11px;
    }

    .confirmcustomline2{
        margin-top: 10px;
        height: 3px;
    }

    .bidincrementtitle{
        font-size: 12px !important;
    }

    .originandnextprice h3{
        font-size: 15px;
    }
}


