
.addfuelpage{
    position: fixed;
    width: 100vw;
    height: 100vh;
    z-index: 1200;
    overflow: hidden;
    background-color: #081328;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.addfuelpay{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
    position: relative;
    width: 1024px;
}

.addfueltitle{
    width: 100%;
    margin-left: 20px;
    text-align: left;
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.addfueltitle h1{
    margin: 0;
    color: white;
    font-weight: 300;
    font-size: 25px;
}
.addfueltitle h2{
    margin: 0;
    padding: 0;
    color: #B4FC75;
    font-weight: 600;
    font-size: 42px;
}


.addfuelbackbl{
    position: relative;
    width: 1024px;
    padding-bottom: 50px;
}

/*common computer*/
@media (min-width: 1024px){

}
@media (width < 1024px){
    .addfuelbackbl{
        width: 100%;
    }

    .addfuelpay{
        width: 96%;
        margin-top: 80px;
    }

    .addfueltitle h1{
        font-size: 23px;
    }
    .addfueltitle h2{
        font-size: 36px;
    }

    .addfuelpage{
        overflow-y: auto;
    }
}
@media (width < 640px){
    .addfueltitle h1{
        font-size: 20px;
    }
    .addfueltitle h2{
        font-size: 32px;
    }
}