


.addfuelpage{
    position: fixed;
    width: 100vw;
    height: 100vh;
    z-index: 1200;
    background-color: #081328;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
}

.addfuelpay{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
    position: relative;
}

.backtoaddfuel{
    display: flex;
    flex-direction: row;
    gap: 20px;
    background-color: #081328;
    position: absolute;
    left: 0;
    align-items: center;
}

.backtoaddfuel:hover{
    opacity: 0.7;
}

.backtoaddfuel h1{
    color: white;
    margin: 0;
    font-weight: 400;
    opacity: 0.8;
}

.addfueltitle{
    width: 100%;
    margin-left: 20px;
    text-align: left;
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.addfueltitle h1{
    margin: 0;
    color: white;
    font-weight: 300;
}

.addfueltitle h2{
    margin: 0;
    padding: 0;
    color: #B4FC75;
    font-weight: 600;
}

.payemenCryptotchooser{
    width: 100%;
    padding: 0;
    margin: 0;
}

.payemenCryptotchooser h1{
    margin: 0;
}

/*common computer*/
@media (min-width: 1024px){
    .addfuelpay{
        width: 900px;
    }

    .backfuelimg{
        width: 30px;
    }

    .backtoaddfuel h1{
        font-size: 26px;
    }

    .addfueltitle h1{
        font-size: 20px;
    }

    .addfueltitle h2{
        font-size: 34px;
    }

    .payemenCryptotchooser h1{
        font-size: 15px;
        margin: 0;
        padding: 0;
    }
}