


.addfuelpage{
    position: fixed;
    width: 100vw;
    height: 100vh;
    z-index: 1200;
    background-color: #081328;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.addfuelpay{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
    position: relative;
}

.addfueltitle{
    width: 100%;
    margin-left: 20px;
    text-align: left;
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.addfueltitle h1{
    margin: 0;
    color: white;
    font-weight: 300;
}

.addfueltitle h2{
    margin: 0;
    padding: 0;
    color: #B4FC75;
    font-weight: 600;
}

.payemenCryptotchooser{
    width: 100%;
    padding: 0;
    margin: 0;
    margin-top: 20px;
}

.payemenCryptotchooser h1{
    margin: 0;
}

.addfuelbackbl{
    position: relative;
}

/*common computer*/
@media (min-width: 1024px){
    .addfuelpay{
        width: 1100px;
    }

    .addfuelbackbl{
        width: 1100px;
        padding-bottom: 50px;
    }

    .addfueltitle h1{
        font-size: 25px;
    }

    .addfueltitle h2{
        font-size: 42px;
    }

    .payemenCryptotchooser h1{
        font-size: 21px;
        margin: 0;
        padding: 0;
    }
}