


.launchroot{
    display: flex;
    position: relative;
    padding: 20px;
    margin-top: 100px;
    margin-bottom: 200px;
    align-items: center;
    width: 1024px;
}

.launchnewdomain{
    width: 100%;
    display: flex;
    justify-content: center;
    font-family: 'Minecraftia', monospace;
}

.launchnewbu{
    width: 30%;
    background-color: #B4FC75;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
}
.launchnewbu:active{
    transform: translateY(2px) translateX(2px); 
}
.launchnewbu h1 {
    color: black;
    margin: 0;
    padding: 10px;
    font-size: 23px;
}

/*common computer*/
@media (min-width: 1024px){

}
@media (width < 1024px){
    .launchroot{
        width: 96%;
    }

    .launchnewbu{
        width: 60%;
    }
}
@media (width < 640px){
    .launchroot{
        margin-top: 0;
        margin-bottom: 100px;
    }

    .launchnewbu{
        width: 80%;
    }
    .launchnewbu h1{
        font-size: 15px;
    }
}