


.launchroot{
    display: flex;
    position: relative;
    padding: 20px;
    margin-top: 100px;
    margin-bottom: 200px;
    align-items: center;
}


.launchnewdomain{
    width: 100%;
    display: flex;
    justify-content: center;
    font-family: 'Minecraftia', monospace;
    gap: 50px;
    align-items: baseline;
}

.launchnewdomain h1{
    color: white;
    margin: 0;
    margin-top: 30px;
    text-align: center;
    width: 50%;
}

.launchnewbu{
    width: 30%;
    background-color: #B4FC75;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

.launchnewbu:active{
    transform: translateY(2px) translateX(2px); 
}

.launchnewbu h1 {
    color: black;
    margin: 0;
    padding: 10px;
}

/*common computer*/
@media (min-width: 1024px){
    .launchroot{
        width: 1100px;
    }

    .launchnewdomain h1{
        font-size: 38px;
    }

    .launchnewbu h1 {
        font-size: 23px;
    }
}