
.sailship{
    display: flex;
    flex-direction: row;
    gap: 30px;
    align-items: center;
}

.shipbl{ 
    display: flex;
    align-items: center;
    justify-content: center;
}

.changeshipBl{
    
}

/*common computer*/
@media (min-width: 1024px){
    .sailship{
        width: 1100px;
        height: 390px;
    }

    .shipbl{
        width: 640px;
        height: 100%;
    }

    .changeshipBl{
        height: 100%;
        width: 430px;
    }
}