
.continuequery{
    background-color: #161F2F;
    margin-top: 200px;
    height: 300px;
    width: 1024px;
    display: flex;
    flex-direction: row;
    padding: 25px 30px;
    border-radius: 20px;
    align-items: stretch;
    gap: 30px;
}

.diliver{
    width: 2px;
    background-color: #ccc;
    margin: 0 16px;
    filter: blur(1px);
}

.domainsale{
    gap: 10px;
    border-radius: 10px;
}
.domainsale h1{
    font-size: 20px;
}

/*common computer*/
@media (min-width: 1024px){
    
}