


.continuequery{
    width: 85%;
    background-color: #161F2F;
    margin-top: 200px;
    height: 300px;
    max-width: 1100px;
    display: flex;
    flex-direction: row;
    padding: 40px;
    border-radius: 20px;
    align-items: stretch;
}

.domainandquery{
    width: 68%;
    border-radius: 15px;
    position: relative;
}

.diliver{
    width: 2px;
    background-color: #ccc;
    margin: 0 16px;
    filter: blur(1px);
}

.showtheaccountInfo{
    background-color: #2A3446;
    width: calc(42% - 34px);
    border-radius: 15px;
}

.domainInfo h1{
    color: white;
    font-weight: 500;
    margin-bottom: 15px;
    margin-top: 10px;
}

.domainInfo{
    margin-left: 30px;
}

.loadcontent{
    width: 100%;
    height: 180px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
    align-items: center;
}

.domainlabel{
    display: flex;
    flex-direction: row;
    margin: 25px 0 ;
}

.domianlabels{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #39FF14;
}

.domainsale{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 5px 20px;
    width: fit-content;
}

.queryagain{
    position: absolute;
    background-color: #081328;
    height: 100px;
    bottom: 0;
    border-radius: 10px;
    border: 2px solid #434C52;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    width: 100%;
}

.queryagain:focus-within{
    border-color: #B4FC75;
}

.queryagaininput{
    height: 70%;
    width: 62%;
    margin-left: 20px;
    background-color: #081328;
    outline: none;
    border: none;
    font-size: 28px;
    color: white;
}

.queryagaineenter{
    display: flex;
    flex-direction: row;
    font-size: 7px;
    color: #BFBFBF;
}

.queryagainsubmitbutton{
    
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #B4FC75;
}

.queryagainsubmitbutton:hover{
    opacity: 0.8;
}

.dot{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: white;
}

.redunava{
    border: 2px solid #D9363E;
}

.redunava h1{
    color: #D9363E;
    margin: 0;
}

.greenava{
    border: 2px solid #B4FC75;
}

.greenava h1{
    color: #B4FC75;
    margin: 0;
}

.showtheaccountInfo{
    position: relative;
}

.registerbackgroud{
    background-image: url("/background/register.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.registerbutton{
    position: absolute;
    bottom: 10%;
    transform: translate(-50%, 0%);
    left: 50%;
    background-color: #B4FC75;
    image-rendering: pixelated; /* 强制像素化 */
    box-shadow: 
        4px 0 0 0 #6DAF4B,   /* 右侧阴影（柔和草绿） */
        0 4px 0 0 #6DAF4B,   /* 底部阴影 */
        4px 4px 0 0 #4E7E3E; /* 右下角深色加深 */
    display: flex;
    align-items: center;
    justify-content: center;
}


.registerbutton:active {
    transform: translate(calc(-50% + 3px), 3px); /* 按下下沉 */
    box-shadow: 
        4px 0 0 0 #6DAF4B,   /* 右侧阴影（柔和草绿） */
        0 4px 0 0 #6DAF4B,   /* 底部阴影 */
        4px 4px 0 0 #4E7E3E; /* 右下角深色加深 */
}

.domainOwnerLoading {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.registerLoadingIcon{
    width: 80px;
}

.showDomainOwner{
    display: flex;
    align-items: center;
    justify-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.showDomainOwner h1{
    color: white;
    font-size: 30px;
    width: 80%;
}

.ownerinfo{
    width: 88%;
    background-color: black;
    height: 80px;
    border-radius: 20px;
    padding: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}

.ownerinfo h1{
    font-weight: 500;
}

.usrIcon{
    background-image: url("./usr/usrdefault.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin-left: 20px;
}

.contractowner{
    width: 88%;
    background-color: #B4FC75;
    height: 80px;
    border-radius: 10px;
    padding: 5px;
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contractowner h1{
    color: black;
    font-size: 24px;
}

/*common computer*/
@media (min-width: 1024px){
    .continuequery{

    }

    .domianlabels{
        width: 100px;
        border-radius: 20px;
    }

    .domianlabels h1{
        color: #39FF14;
        font-size: 20px;
        margin: 0;
        font-weight: 300;
    }

    .unavailableicon{
        width: 25px;
        margin: 0;
    }

    .availableicon{
        width: 25px;
        margin: 0;
    }

    .domainsale{
        gap: 10px;
        border-radius: 10px;
        
    }

    .domainsale h1{
        font-size: 20px;
        
    }

    .queryagain{
        
    }

    .registerbutton{
        
        
    }

    .registerbutton h1{
        font-size: 24px;
        font-family: 'Minecraftia', monospace;
        color: black;
    }
}