

.showtheaccountInfo{
    position: relative;
    background-color: #2A3446;
    width: calc(42% - 34px);
    border-radius: 15px;
}

.registerbackgroud{
    background-image: url("/background/registerback.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.registerbutton{
    margin-top: 40%;
    padding: 10px 40px;
    background-color: #B4FC75;
}

.registerbutton:active {
    transform: translateY(2px) translateX(2px);
}

.registerbutton h1{
    margin: 0;
    padding: 0;
}

.showDomainOwner{
    display: flex;
    align-items: center;
    justify-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.showDomainOwner h1{
    color: white;
    font-size: 30px;
    width: 80%;
}

.ownerinfo{
    width: 88%;
    background-color: black;
    height: 80px;
    border-radius: 20px;
    padding: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}

.ownerinfo h1{
    font-weight: 500;
}

.usrIcon{
    background-image: url("./usr/usrdefault.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin-left: 20px;
}

.contractowner{
    width: 88%;
    background-color: #B4FC75;
    height: 80px;
    border-radius: 10px;
    padding: 5px;
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contractowner h1{
    color: black;
    font-size: 24px;
}

.domainOwnerLoading {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.registerLoadingIcon{
    width: 80px;
}

.registerLoadingIconrotate{

}

/*common computer*/
@media (min-width: 1024px){
    .registerbutton{
        height: 70px;
        width: 300px;
    }

    .registerbutton h1{
        font-size: 24px;
        font-family: 'Minecraftia', monospace;
        color: black;
    }
}