
.createipfsrecord{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.recordinputbl{
    width: 70%;
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.recordinputbl h1{
    font-weight: 500;
    margin: 0;
}

.confirmcreaterecordbu{
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #B4FC75;
    margin-top: 50px;
}
.confirmcreaterecordbu h1{
    font-weight: 500;
    padding: 0;
    margin: 5px;
    color: black;
}

.ipfsinputbl{
    width: 100%;
    background-color: #3B3B3B;
    height: 50px;
    border-radius: 10px;
    overflow: hidden;
}
.ipfsinput{
    width: 80%;
    height: 100%;
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    padding-left: 10px;
    font-size: 16px;
    background-color: #3B3B3B;
}


/*common computer*/
@media (min-width: 1024px){

    .recordinputbl h1{
        font-size: 22px;
    }

    .confirmcreaterecordbu h1{
        font-size: 22px;
    }
}
