

.detailorsimple{
    display: flex;
    flex-direction: row;
    gap: 0;
    background-color: #2B2F3C;
    padding: 4px;
    height: calc(100% - 8px);
    border-radius: 8px;
}

.sortShowone{
    background-color: #2B2F3C;
    display: flex;
    align-items: center;
    justify-content: center;
}

.activeSort{
    background-color: #B4FC75;
}

.detailsortimg{
    width: 20px;
}

.simpleSortimg{
    width: 25px;
}

@media (min-width: 1024px){

}
@media (width < 1024px){

}
@media (width < 640px){
    .detailorsimple{
        border-radius: 5px;
    }

    .sortShowone{
        border-radius: 5px;
        width: 30px;
    }

    .detailsortimg{
        width: 15px;
    }
    .simpleSortimg{
        width: 18px;
    }
}
