
.SortMyDomain{
    position: relative;
    height: 100%;
}

.sortwaybu{
    width: 100%;
    margin: 0;
    height: 100%;
    border-radius: 6px;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #081328;
    border: 1px solid #434C52;
    opacity: 0.9;
    justify-content: space-between;
}
.sortwaybu h1{
    margin: 0;
    padding: 0;
    font-weight: 400;
}

/*common computer*/
@media (min-width: 1024px){
    .sortwaybu{
        width: 240px;
    }
    .sortwaybu h1{
        font-size: 15px;
    }
}