

.domainSetPage{
    position: fixed;
    width: 100vw;
    height: 100vh;
    z-index: 200;
    background-color: #081328;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    overflow-y: auto;
}

.domainSetcontent{
    width: 1280px;
    position: relative;
}

.setfunctioncom{
    width: 1280px;
    height: 300px;
    display: flex;
    flex-direction: row;
    gap: 30px;
}

.priceandurl{
    width: 32%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.auctionStateshow{
    width: calc(68% - 30px);
}

@media (min-width: 1024px){
    
}
@media (width < 1280px){
    .domainSetcontent{
        width: 96%;
    }

    .setfunctioncom{
        width: 96%;
    }
    
    .auctionStateshow{
        width: 100%;
    }
}
@media (width < 1024px){
    .setfunctioncom{
        flex-direction: column;
        gap: 20px;
    }

    .priceandurl{
        flex-direction: row;
        width: 100%;
        height: 160px;
    }

}
@media (width < 640px){
    .domainSetPage{
        gap: 20px;
    }

    .priceandurl{
        height: 120px;
    }
}