

.extractbills{
    background-color: #161F2F;
    display: flex;
    flex-direction: column;
    position: relative;
    border-radius: 10px;
    padding: 20px;
    width: 40%;
    height: 200px;
}
.extractbills h1{
    color: white;
    font-weight: 500;
    font-size: 20px;
}

@media (min-width: 1024px){
    
}
@media (width < 1024px){

    .extractbills{
        height: auto;
        width: calc(96% - 40px);
        margin-bottom: 200px;
        height: 200px;
    }
}
@media (width < 640px){
    .extractbills h1{
        font-size: 17px;
    }
}