

.onAuctionBills{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 15px;
}

.onAuctionItem{
    display: flex;
    flex-direction: row;
    height: 90px;
    position: relative;
    justify-content: space-between;
    align-items: center;
    margin-top: 3px;
}
.onAuctionItem:hover{
    background-color: #1C2334;
}

.itemline{
    width: 100%;
    height: 1px;
    background-color: white;
    position: absolute;
    bottom: 0;
    opacity: 0.4;
}

.priceAndhighest{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.auctionPrice{
    display: flex;
    flex-direction: row;
    align-items: baseline;
    gap: 10px;
}
.auctionPrice h1{
    font-size: 14px;
    color: white;
    margin: 0;
}
.auctionPrice h2{
    font-size: 21px;
    color: white;
    margin: 0;
}

.biddershow{
    display: flex;
    flex-direction: row;
    align-items: baseline;
    gap: 10px;
}
.biddershow h1{
    color: #B4FC75;
    font-size: 17px;
    margin: 0;
}
.biddershow h2{
    font-size: 13px;
    color: #95948A;
    margin: 0;
}

.itemauctionState{
    display: flex;
    flex-direction: row;
    margin-right: 10px;
    gap: 20px;
}

.timeshow{
    display: flex;
    flex-direction: row;
    align-items: baseline;
    gap: 5px;
}
.timeshow h2{
    margin: 0;
    font-size: 14px;
    color: white;
}

.increaseBU{
    width: 100px;
    height: 50px;
    background-color: #B4FC75;
    display: flex;
    align-items: center;
    justify-content: center;
}
.increaseBU h1{
    font-size: 15px;
    color: black;
}

.itemheads{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 30px;
    width: 60%;
    justify-content: space-between;
}

.itemdomainames{
    display: flex;
    flex-direction: row;
    align-items: baseline;
}
.itemdomainames h1{
    font-size: 23px;
    color: white;
}
.itemdomainames h2{
    font-size: 23px;
    color: #95948A;
}

.usepageitemclock h1{
    font-size: 20px;
}

.realheads{
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
}

@media (min-width: 1024px){
    
}
@media (width < 1024px){
    .timeshow h2{
        display: none;
    }

    .itemheads{
        width: 65%;
    }
}
@media (width < 900px){
    .auctionPrice h1{
        display: none;
    }
    .auctionPrice h2{
        font-size: 19px;
    }

    .biddershow h1{
        display: none;
    }
    .biddershow h2{
        color: #B4FC75;
        font-size: 12px;
    }

    .itemheads{
        width: 56%;
    }

    .itemdomainames h1,
    .itemdomainames h2{
        font-size: 19px;
    }
}
@media (width < 640px){
    .itemheads{
        margin-left: 5px;
        width: 65%;
    }

    .itemdomainames h1,
    .itemdomainames h2{
        font-size: 12px;
    }

    .realheads{
        gap: 3px;
    }

    .auctionPrice h2{
        font-size: 14px;
    }
    .biddershow h2{
        font-size: 10px;
    }

    .onAuctionItem{
        height: 80px;
    }

    .usepageitemclock h1{
        font-size: 13px;
    }

    .itemauctionState{
        flex-direction: column;
        gap: 0px;
        align-items: center;
        justify-content: center;
    }

    .increaseBU{
        width: 85px;
        height: 30px;
        border-radius: 5px;
    }
    .increaseBU h1{
        font-size: 13px;
    }
}