
.settleBU{
    width: 100px;
    height: 50px;
    background-color: #B4FC75;
    display: flex;
    align-items: center;
    justify-content: center;
}
.settleBU h1{
    font-size: 18px;
    color: black;
    font-weight: 600;
}

@media (width < 640px){
    .settleBU{
        width: 85px;
        height: 30px;
        border-radius: 5px;
    }
    .settleBU h1{
        font-size: 13px;
    }
}