

.browserdomain{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    width: 100%;
    padding-top:450px;
    position: fixed;
    z-index: 1;
}

.browserdomainhide{
    display: none;
}

.browserdomainnohide{
    display: flex;
}

.browserDomainTitle{
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 15px;
}

.browserDomainTitle h1{
    color: white;
}

.browserDomainTitle h2{
    font-family: 'Minecraftia', monospace;
    margin: 0;
    color: #B4FC75;
}

.browserDomainModule{
    display: flex;
    width: 100%;
    justify-content: center;
}

.browserdomainminibox{
    display: flex;
    background-color: #000000;
    border: 3px solid #434C52;
    cursor: text;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.browserdomainminibox:hover{
    border-color: #b9f881;
}

.browerdomainQueryBox{
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #B4FC75;
}

.browerdomainQueryBox:hover{
    opacity: 0.8;
}

.querypageword{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: center;
    gap: 10px;
}

.domainusrshowwelcome h1{
    font-family: 'Minecraftia', monospace;
    margin: 0;
    color: #B4FC75;
}

/*common computer*/
@media (min-width: 1024px){
    .browserdomain{
        color: white;
        font-size: 100px;
    }

    .browserDomainTitle h1{
        font-size: 80px;
        margin: 0;
        font-weight: 600;
    }

    .browserDomainTitle h2{
        font-size: 26px;
    }

    .browserdomainminibox{
        margin-top: 70px;
        border-radius: 8px;
        height: 50px;
        padding: 10px 10px 10px 30px;
        width: 630px;
    }

    .browserdomainminibox h1{
        font-size: 23px;
        font-weight: 400;
        color: #434C52;
    }

    .browerdomainQueryBox{
        min-width: 80px;
        height: 50px;
        border-radius: 5px;
    }

    .browserdomainquericon{
        width: 40px;
    }

    .domainusrshowwelcome h1{
        font-size: 47px;
    }
    
}