

.queryPage{
    position: fixed;
    width: 100vw;
    height: 100%;
    left: 0;
    top: 0;
    background-color: #081328;
    opacity: 0;
    transform: scale(0.9);
    z-index: 50;
}

.queryblock{
    position: absolute;
    height: 400px;
    width: 1024px;
    transform: translate(-50%, -50%);
    top: 42%;
    left: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.titleandexit{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}

.querypagetitle{
    display: flex;
    flex-direction: column;
}
.querypagetitle h1{
    margin: 0;
    color: white;
    font-size: 32px;
    font-weight: 600;
}
.querypagetitle h2{
    margin: 0;
    color: #B4FC75;
    font-family: 'Minecraftia', monospace;
    font-size: 18px;
    font-weight: 400;
    margin-top: 10px;
}

.querypageexit{
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #081328;
    width: 60px;
    height: 60px;
}
.querypageexit:hover{
    background-color: #000000;
}

.querypagecontent{
    display: flex;
    flex-direction: row;
    margin-top: 30px;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    height: 100px;
    gap: 30px;
}

.querypagequery{
    width: 80%;
    display: flex;
    flex-direction: row;
    background-color: #000000;
    border: 2px solid #434C52;
    display: flex;
    flex-direction: row;
    border-radius: 8px;
    align-items: center;
    height: 60px;
    padding: 10px 20px;
    gap: 10px;
}
.querypagequery:focus-within{
    border: 2px solid #B4FC75;
}


.querypagesubmitbutton{
    display: flex;
    align-content: center;
    justify-content: center;
    background-color: #B4FC75;
    width: 80px;
    height: 50px;
}
.querypagesubmitbutton:hover{
    opacity: 0.8;
}

.querypageenter{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-left: 3%;
}
.querypageenter h1{
    color: white;
    font-size: 20px;
}

.querypageinput{
    background-color: #000000;
    border: none;
    color: white;
    height: 60px;
    width: 80%;
    font-size: 20px;
    font-weight: 600;
    font-family: 'Plus Jakarta Sans', sans-serif;
}
.querypageinput:active,
.querypageinput:focus{
    border: none;
    outline: none;
}
.querypageinput::placeholder{
    color: #888888;;
}


.querpagerootshow{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: #B4FC75;
}
.querpagerootshow:hover{
    opacity: 0.8;
}

.querypagechangeroot{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    height: 60px;
    width: 200px;
}

.querypageword{
    display: flex;
    flex-direction: row;
}
.querypageword h1{
    font-size: 17px;
    font-weight: 500;
    color: #000000;
}
.querypageword h2{
    font-size: 23px;
    font-weight: 600;
    color: #000000;
}

.querypageexiticon{
    width: 30px;
}

.querypagequericon2{
    width: 40px;
}
.querypagenetericon{
    width: 40px;
}

.querpagerootshow{
    height: 100%;
    width: 100%;
}



/*common computer*/
@media (min-width: 1024px){
    
}
@media (width < 1024px){
    .queryblock{
        width: 96%;
    }

    .querypageexit{
        width: 40px;
        height: 40px;
    }
    .querypageexiticon{
        width: 20px;
    }

    .querypagecontent{
        width: 100%;
    }

    .querypagequery{
        height: 36px;
    }

    .querypageinput{
        height: 30px;
        font-size: 17px;
    }

    .querypagesubmitbutton{
        padding: 0;
        height: 100%;
    }

    .querypagequericon2{
        width: 24px;
    }

    .querypagenetericon{
        width: 30px;
    }
    .querypageenter h1{
        font-size: 16px;
    }

    .querypagechangeroot{
        height: 50px;
    }
}

@media (width < 640px){
    .queryblock{
        top: 48%;
    }

    .querypagetitle h1{
        font-size: 18px;
    }
    .querypagetitle h2{
        font-size: 11px;
    }

    .querypageexiticon{
        width: 16px;
    }

    .querypagecontent{
        gap: 5px;
    }

    .querypagequery{
        height: 30px;
        padding: 5px 10px;
    }

    .querypageinput{
        font-size: 14px;
        height: 25px;
        padding: 5px 5px;
        transform: scale(0.875);
        transform-origin: left center;
    }
    
    .querypageenter{
        display: none;
    }

    .querypagesubmitbutton{
        width: 40px;
        height: 30px;
        padding: 0;
        align-items: center;
    }

    .querypagequericon2{
        width: 20px;
    }

    .querypagechangeroot{
        width: 20%;
        height: 30px;
    }
    .querypageword h1{
        display: none;
    }
    .querypageword h2{
        font-size: 15px;
    }
}