

.queryPage{
    position: fixed;
    width: 100vw;
    height: 100%;
    left: 0;
    top: 0;
    background-color: #081328;
    opacity: 0;
    transform: scale(0.9);
}

.queryblock{
    position: absolute;
    width: 56%;
    transform: translate(-50%, -50%);
    top: 42%;
    left: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.titleandexit{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.querypagetitle{
    display: flex;
    flex-direction: column;
}

.querypagetitle h1{
    margin: 0;
    color: white;
}

.querypagetitle h2{
    margin: 0;
    color: #B4FC75;
}

.querypageexit{
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #081328;
}

.querypageexit:hover{
    background-color: #000000;
}

.querypagecontent{
    display: flex;
    flex-direction: row;
    margin-top: 60px;
    align-items: center;
    min-width: 1000px;
    justify-content: center;
}

.querypagequery{
    width: 60%;
    display: flex;
    flex-direction: row;
    background-color: #000000;
    border: 2px solid #000000;
    display: flex;
    flex-direction: row;
    border-radius: 8px;
    align-items: center;
}

.querypagesubmitbutton{
    display: flex;
    align-content: center;
    justify-content: center;
    background-color: #B4FC75;
    margin-left: 10px;
}

.querypagesubmitbutton:hover{
    opacity: 0.8;
}

.querypageenter{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-left: 3%;
}

.querypageenter h1{
    color: white;
}

.querypageinput{
    background-color: #000000;
    border: none;
    color: white;
}

.querypageinput:active,
.querypageinput:focus{
    border: none;
    outline: none;
}

.querypageinput::placeholder{
    color: #888888;;
}

.querypagequery:focus-within{
    border: 2px solid #B4FC75;
}

.querpagerootshow{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: #B4FC75;
}

.querpagerootshow:hover{
    opacity: 0.8;
}



.querypagechangeroot{
    display: flex;
    align-items: center;
    justify-content: center;
}

.querypageword{
    display: flex;
    flex-direction: row;
}

/*common computer*/
@media (min-width: 1024px){
    .queryblock{
        height: 400px;
    }
    
    .titleandexit{
        width: 1000px;
    }

    .querypagetitle h1{
        font-size: 30px;
        font-weight: 400;
    }

    .querypagetitle h2{
        font-size: 20px;
        font-weight: 400;
        margin-top: 10px;
    }

    .querypagecontent{
        width: 1000px;
        height: 100px;
        display: flex;
        flex-direction: row;
        gap: 30px;
    }

    .querypagequery{
        height: 50px;
        padding: 10px 20px;
        gap: 10px;
    }

    .querypageexiticon{
        width: 30px;
    }

    .querypageexit{
        width: 60px;
        height: 60px;
    }

    .querypageinput{
        height: 60px;
        width: 64%;
        font-size: 20px;
        font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;;
        font-weight: 400;
    }

    .querypagesubmitbutton{
        width: 80px;
        height: 50px;
    }

    .querypagequericon2{
        width: 80px;
    }

    .querypagenetericon{
        width: 40px;
    }

    .querypagechangeroot{
        width: 200px;
    }

    .querypageenter h1{
        font-size: 20px;
    }

    .querpagerootshow{
        height: 100%;
        width: 100%;
    }

    

      

    .querypageword h1{
        font-size: 16px;
        font-weight: 600;
        color: #000000;
    }

    .querypageword h2{
        font-size: 28px;
        font-weight: 500;
        color: #000000;
    }
}