

.usrAuction{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 10px;
}

.usrAuction h1{
    color: white;
    font-size: 22px;
    font-weight: 600;
}

.linedomain{
    width: 100%;
    margin: 0px 0;
    height: 1px;
    background-color: white;
    opacity: 0.6;
}


@media (min-width: 1024px){
    
}
@media (width < 1024px){
    .usrAuction h1{
        font-size: 20px;
    }
}
@media (width < 640px){
    .usrAuction h1{
        font-size: 14px;
    }
}