

.usrdomain{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    justify-content: center;
    align-items: center;
}

.mydomintitle{
    width: 100%;
}
.mydomintitle h1{
    font-weight: 600;
    color: white;
    font-size: 22px;
}

.linedomain{
    width: 100%;
    margin: 0px 0;
    height: 1px;
    background-color: white;
    opacity: 0.6;
}

.mydomainsbl{
    width: 100%;
    display: flex;
    margin-top: 20px;
    margin-bottom: 50px;
}

.mydomainblno{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.mydomainblno h1{
    color: white;
    font-size: 24px;
    font-weight: 500;
}

.mydomainblco{
    width: 100%;
}

.detailShow{
    display: flex;
    flex-direction: column;
}
.simpleShow{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    row-gap: 30px;
    gap: 16px;
}

.mydomaincontent{
    height: auto;
    display: flex;
    height: 100px;
}

.usrDomainLoading{
    margin-top: 200px;
}

.usrDomainDot{
    border-radius: 50%;
}

/*common computer*/
@media (min-width: 1024px){
    
}
@media (width < 1024px){
    .usrdomain{
        margin-top: 15px;
    }

    .simpleShow{
        grid-template-columns: repeat(3, 1fr);
    }

    .mydomainsbl{
        width: 96%;
    }
}
@media (width < 640px){
    .usrdomain{
        margin-top: 5px;
    }

    .mydomintitle h1{
        font-size: 16px;
    }

    .simpleShow{
        grid-template-columns: repeat(2, 1fr);
    }

    .usrDomainLoading{
        margin-top: 150px;
    }
}