
.domainsort{
    width: 100%;
    height: 40px;
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    z-index: 30;
}

.sortdomainsortbl{
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.sortsearchbl{
    display: flex;
    flex-direction: row;
    gap: 20px;
}


/*common computer*/
@media (min-width: 1024px){

}
@media (width < 1024px){

}
@media (width < 640px){
    .sortdomainsortbl{
        gap: 5px;
        height: 30px;
    }

    .domainsort{
        margin-top: 10px;
    }
}

