

.paymentinterface{
    position: fixed;
    width: 100vw;
    height: 100%;
    left: 0;
    top: 0;
}

.paymentinterfaceback{
    width: 100%;
    height: 100%;
    background-color: black;
    background-color: rgba(0, 0, 0, 0.4); 
    backdrop-filter: blur(8px);         
    -webkit-backdrop-filter: blur(8px);
}

.walletwaiting{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #2A3446;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.loading{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

.paymentinterfacelaod{
    animation: spin 1.8s linear infinite;
}

.loading h1{
    color: white;
}

.waitingconfirmicon{
    animation: spin 5s linear infinite;
}

.balanceEnough{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

.balanceEnough h1{
    color: white;
    text-align: center;
}

.cancletransaction{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #2A3446;
}

.cancletransaction:hover{
    opacity: 0.8;
}

/*common computer*/
@media (min-width: 1024px){
    .walletwaiting{
        width: 600px;
        padding: 80px;
        border-radius: 20px;
    }

    .paymentinterfacelaod{
        width: 100px;
    }

    .loading h1{
        font-size: 36px;
    }
    
    .waitingconfirmicon{
        width: 150px;
    }

    .balanceEnough h1{
        font-size: 32px;
        padding-top: 20px;
    }

    .cancletransaction{
        right: 80px;
        top: 60px;
        width: 60px;
        height: 60px;
        border-radius: 50%;
    }

    .cancletransactionicon{
        width: 36px;
    }
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}