
.domainandquery{
    width: 64%;
    border-radius: 15px;
    position: relative;
}
.domainandquery h1{
    font-size: 25px;
    margin: 0;
    font-weight: 500;
    color: white;
}

.domainInfo{
    margin-left: 30px;
    display: flex;
    flex-direction: column;
}
.domainInfo h1{
    margin-bottom: 15px;
    margin-top: 10px;
}

.domainnameandprice{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    width: 90%;
    background-color: #2A3446;
    margin-top: 30px;
    padding: 5px 20px;
    border-radius: 8px;
}

.domainname{
    display: flex;
    flex-direction: row;
    align-items: baseline;
}
.domainname h1{
    font-size: 24px;
    font-weight: 700;
    color: white;
    margin: 0;
}
.domainname h2{
    font-size: 24px;
    font-weight: 700;
    color: #95A6C1;
    margin: 0;
}

.showPrice h1{
    font-size: 28px;
    font-weight: 600;
    font-family: 'Minecraftia', monospace;
    color: #B4FC75;;
}

.ownerShowword{
    margin-top: 5px; 
    display: flex;
    flex-direction: row;
    align-items: baseline;
    gap: 15px;
}
.ownerShowword h1{
    font-size: 15px;
    font-weight: 600;
}
.ownerShowword h2{
    font-size: 16px;
    font-weight: 600;
    color: #00ffcc;
    text-decoration: underline;
    cursor: pointer;
}

.ungis{
    padding: 10px;
}
.ungis h1{
    color: #B4FC75;
    text-decoration: underline;
    font-size: 17px;
    margin: 0;
    margin-bottom: 10px;
    cursor: pointer;
}

.domainFeatures{
    display: flex;
    flex-direction: row;
    margin-top: 15px;
    gap: 10px;
}

.featurewords{
    border: 2px solid #FDC83D;
    border-radius: 15px;
}
.featurewords h1{
    color: #FDC83D;
    margin: 0;
    padding: 3px 15px;
    font-size: 15px;
}

/*common computer*/
@media (min-width: 1024px){
    
}
@media (width < 1024px){
    .domainandquery{
        width: calc(100% - 60px);
        background-color: #161F2F;
        padding: 20px 30px;
        height: 280px;
    }
    .domainandquery h1{
        font-size: 20px;
        margin: 0;
    }

    .domainInfo{
        margin-left: 0;
    }

    .domainnameandprice{
        padding: 5px 10px;
        width: calc(100% - 20px);
    }

    .domainname h1,
    .domainname h2{
        font-size: 22px;
    }

    .ungis h1{
        font-size: 15px;
    }

    .featurewords h1{
        font-size: 14px;
    }

    .ownerShowword h1{
        font-size: 14px;
    }
    .ownerShowword h2{
        font-size: 15px;
    }
}
@media (width < 640px){

    .domainandquery{
        height: 250px;
    }

    .domainandquery h1{
        font-size: 18px;
    }

    .domainname h1,
    .domainname h2{
        font-size: 20px;
    }

    .ungis h1{
        font-size: 13px;
    }

    .featurewords{
        border: 1px solid #FDC83D;
    }
    .featurewords h1{
        font-size: 12px;
        padding: 3px 8px;
    }

    .ownerShowword h1{
        font-size: 12px;
    }
    .ownerShowword h2{
        font-size: 13px;
    }
}