

.showtheaccountInfo{
    position: relative;
    background-color: #2A3446;
    width: calc(36% - 30px);
    border-radius: 15px;
    overflow: hidden;
}

.infoloadinganimate {
    position: relative;
    overflow: hidden;
    background-color: #2A3446; 
    background-image: linear-gradient(
        90deg,
        rgba(255,255,255,0) 0%,
        rgba(255,255,255,0.6) 50%,
        rgba(255,255,255,0) 100%
    );
    opacity: 0.4;
    background-repeat: no-repeat;
    background-size: 200% 100%; 
    animation: shimmer 2s linear infinite;
}

@keyframes shimmer {
    0% { background-position: 200% 0; }
    100% { background-position: -200% 0; }
}

@media (prefers-reduced-motion: reduce) {
    .skeleton { animation: none; }
}

.showcoountinfocontent{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.domainattention{
    background-color: #2A3446;
    width: 85%;
    margin-top: 10px;
    padding: 8px 10px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.domainattention h1{
    color: #95A6C1;
    margin: 0;
    font-size: 18px;
}
.domainattention h2{
    color: white;
    margin: 0;
    font-size: 14px;
    margin-top: 5px;
    font-weight: 500;
    cursor: pointer;
    padding: 5px 10px 10px 10px;
    border: 2px solid white;
    border-radius: 10px;
}
.domainattention h2:hover{
    opacity: 0.8;
}

.confrimcreatedomain{
    background-color: #B4FC75;
    position: absolute;
    bottom: 20px;
    width: 70%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.confrimcreatedomain h1{
    color: black;
    margin: 0;
    font-size: 25px;
    font-family: 'Minecraftia', monospace;
}
.confrimcreatedomain:active{
    transform: translateY(2px) translateX(2px); 
}

.cantconfirm{
    pointer-events: none;
    background-color: #434C52;
}
.cantconfirm h1{
    color: white;
}

/*common computer*/
@media (min-width: 1024px){
    
}
@media (width < 1024px){
    .showtheaccountInfo{
        width: calc(100% - 60px);
        background-color: #161F2F;
        padding: 20px 30px;
        height: 220px;
    }

    .infoloadinganimate{
        width: calc(100% - 60px);
    }

    .domainattention{
        background-color: #161F2F;
    }

    .domainattention{
        width: calc(100% - 20px);
    }

    .confrimcreatedomain{
        height: 50px;
    }
    .confrimcreatedomain h1{
        font-size: 20px;
    }
}
@media (width < 640px){
    .showtheaccountInfo{
        height: 200px;
    }

    .confrimcreatedomain{
        height: 40px;
        bottom: 5px;
    }
    .confrimcreatedomain h1{
        font-size: 17px;
    }

    .domainattention{
        margin-top: 0;
    }
    .domainattention h1{
        font-size: 16px;
    }
    .domainattention h2{
        font-size: 12px;
    }
}