

.queryagain{
    position: absolute;
    background-color: #081328;
    height: 60px;
    bottom: 0;
    border-radius: 10px;
    border: 2px solid #434C52;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    width: 100%;
    justify-content: space-between;
}
.queryagain:focus-within{
    border-color: #B4FC75;
}

.queryagaininputs{
    height: 70%;
    width: 65%;
    margin-left: 20px;
    background-color: #081328;
    outline: none;
    border: none;
    font-size: 21px;
    color: white;
    font-weight: 500;
}
.queryagaininputs::-webkit-input-placeholder,
.queryagaininputs:-ms-input-placeholder,
.queryagaininputs::placeholder {
    font-size: 21px;
    color: rebeccapurple;
}

.queryagaineenter{
    display: flex;
    flex-direction: row;
    color: #BFBFBF;
    align-items: center;
    gap: 5px;
}
.queryagaineenter h1{
    font-size: 20px;
}
.querypagequericon{
    width: 30px;
}

.queryagainsubmitbutton{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #B4FC75;
    height: 70%;
}
.queryagainsubmitbutton:hover{
    opacity: 0.8;
}

.domainsale{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 5px 20px;
    width: fit-content;
}

.thequeryblockcontent{
    display: flex;
    flex-direction: row;
    gap: 10px;
    height: 100%;
    align-items: center;
    margin-right: 5px;
}

@media (width < 1024px){
    .queryagain{
        bottom: 30px;
        width: calc(100% - 60px);
    }

    .queryagaininputs{
        width: 70%;
    }
}
@media (width < 760px){
    .queryagain{
        height: 50px;
    }

    .queryagaininputs{
        width: 70%;
        font-size: 18px;
        margin-left: 15px;
    }
    .queryagaininputs::-webkit-input-placeholder,
    .queryagaininputs:-ms-input-placeholder,
    .queryagaininputs::placeholder {
        font-size: 18px !important;
    }
}
@media (width < 640px){
    .queryagain{
        height: 40px;
    }

    .queryagaininputs{
        font-size: 13px;
        margin-left: 5px;
    }

    .queryagaineenter{
        display: none;
    }

    .querypagequericon{
        width: 20px;
    }

    .querypagenetericon{
        width: 20px;
    }
    .queryagaineenter h1{
        font-size: 13px;
    }
}
@media (width < 420px){

}

