
@import "tailwindcss";

@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@200;400;500;700&display=swap');


:root {
    --font-sans: 'Plus Jakarta Sans', sans-serif;
    --font-mono: 'Fira Mono', monospace;
    line-height: 1.5;
    font-weight: 200;

    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);
    background-color: #242424;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

a {
    font-weight: 500;
    text-decoration: inherit;
}

body {
    margin: 0;
    display: flex;
    justify-content: center;
    min-width: 320px;
    font-family: var(--font-sans);
    min-height: 100vh;
}

html{
    overflow-y: scroll; 
    -ms-overflow-style: none; 
    scrollbar-width: none; 
}

html::-webkit-scrollbar {
    display: none; 
}

html, body {
    width: 100%;
    max-width: 100%;
    overflow-x: hidden;
    position: relative;
}

h1 {
    font-size: 3.2em;
    line-height: 1.1;
}

button {
    cursor: pointer;
}

@media (prefers-color-scheme: light) {
    :root {
        color: #213547;
        background-color: #ffffff;
    }
    a:hover {
        color: #747bff;
    }
}

.pixel {
    border: 4px solid;
    border-image: 
        linear-gradient(
            to bottom right,
            rgba(255, 255, 255, 0.7) 0%,
            rgba(255, 255, 255, 0.7) 47%,
            transparent 25%,
            transparent 54%,
            rgba(150, 150, 150, 0.6) 50%
        ) 4;

    image-rendering: pixelated;
    backdrop-filter: blur(2px);
}


@media (-moz-platform: linux) and (min-resolution: 120dpi) {
  
    body {
        transform: scale(1.9);
    }
}

@keyframes pulseGreen {
  0% {
    box-shadow: 0 0 0 0 rgba(180, 252, 117, 0.55);
  }
  70% {
    box-shadow: 0 0 0 6px rgba(180, 252, 117, 0);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(180, 252, 117, 0);
  }
}

@keyframes pulseRed {
  0% {
    box-shadow: 0 0 0 0 rgba(239, 68, 68, 0.6);
  }
  70% {
    box-shadow: 0 0 0 6px rgba(239, 68, 68, 0);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(239, 68, 68, 0);
  }
}

.animate-pulse-green {
  animation: pulseGreen 2s ease-out infinite;
}

.animate-pulse-red {
  animation: pulseRed 2s ease-out infinite;
}