

.auctiondomains{
    width: 49%;
    display: flex;
    flex-direction: column;
    margin-top: 16px;
    border-radius: 20px 20px 10px 10px;
    overflow: hidden;
}

.titleRecommend{
    padding: 0 20px;
    width: 100%;
    height: 46px;
    background-color: #1C2334;
    display: flex;
    align-items: center;
}
.titleRecommend h1{
    color: #B4FC75;
    margin: 0;
    font-size: 15px;
}

.recommendDomainShow{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.domainrecommenditeminfo{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 20px;
    align-items: center;
    height: 52px;
}
.domainrecommenditeminfo h1{
    font-size: 16px;
    margin: 0;
    font-weight: 500;
    color: white;
}

.domainrecommenditem{
    display: flex;
    flex-direction: column;
    width: 100%;
    cursor: pointer !important;
}
.domainrecommenditem:hover{
    background-color: #242B3E;
}


.domainrecommenditemline{
    width: 100%;
    height: 1px;
    background-color: #434C52;
}

.recommendchangepage{
    height: 35px;
    background-color: #1C2334;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.turnpageshow h1{
    color: white;
    font-size: 14px;
}

.turnpage{
    width: 16px;
    cursor: pointer;
}
.rightturnpage{
    transform: rotate(180deg);
}

.recommendinfoname{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.recommendinfonomore{
    width: 100%;
    justify-content: center;
    display: flex;
}

@media (min-width: 1024px){

}
@media (width < 1024px){

}
@media (width < 880px){
    .auctiondomains{
        width: 100%;
    }

    .titleRecommend{
        height: 36px;
    }
    .titleRecommend h1{
        font-size: 11px;
    }

    .domainrecommenditeminfo{
        height: 43px;
    }
    .domainrecommenditeminfo h1{
        font-size: 12px;
    }

    .recommendchangepage {
        height: 27px;
    }

    .turnpage{
        width: 10px;
    }

    .turnpageshow h1{
        font-size: 11px;
    }
}
@media (width < 640px){
    
}