

.vaultinfo{
    display: flex;
    flex-direction: column;
    margin-top: 150px;
    width: 1024px;
    height: 300px;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    gap: 30px;
}

.vaultbalance{
    display: flex;
    flex-direction: row;
    align-items: baseline;
    gap: 50px;
    color: white;
}
.vaultbalance h1{
    font-size: 25px;
    margin: 0;
}
.vaultbalance h2{
    font-size: 50px;
    margin: 0;
}

.vaultopratrion{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 60%;
}

.transfer{
    width: 160px;
    background-color: #B4FC75;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.transfer h1{
    font-size: 18px;
    padding: 0;
    color: black;
    margin: 0;
    font-weight: 500;
}