
.AuctionDomain{
    margin-top: 200px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #081328;
}

.auctiondomaincontent{
    display: flex;
    flex-direction: column;
    width: 1024px;
}

.auctiondomaincontenttitle{
    display: flex;
    flex-direction: column;
}
.auctiondomaincontenttitle h1{
    margin: 0;
    color: white;
    font-size: 46px;
}
.auctiondomaincontenttitle h2{
    margin: 0;
    margin-top: 20px;
    color: white;
    font-weight: 500;
    font-family: 'Minecraftia', monospace;
    color: #B4FC75;
    font-size: 22px;
}

.AuctionDomainround{
    opacity: 0.1 !important;
}

@media (min-width: 1024px){
    
}
@media (width < 1024px){
    .AuctionDomain{
        margin-top: 160px;
    }

    .auctiondomaincontent{
        width: 96%;
    }
}
@media (width < 740px){
    
}
@media (width < 640px){
    .AuctionDomain{
        margin-top: 100px;
    }
    
    .auctiondomaincontenttitle h1{
        font-size: 23px;
    }
    .auctiondomaincontenttitle h2{
        font-size: 13px;
    }
}