

.RootDomainCreate{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    margin-top: 220px;
}

.rootfactorytitle{
    display: flex;
    font-display: row;
    width: 100%;
    gap: 20px;
    align-items: center;
}
.rootfactorytitle h1{
    color: white;
    margin: 0;
    font-size: 60px;
}

.subrootfactorytitle{
    width: 100%;
    font-family: 'Minecraftia', monospace;
    color: #B4FC75;
    margin-top: 30px;
}
.subrootfactorytitle h1 {
    font-size: 24px;
}

.lanunchdomainor{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Minecraftia', monospace;
    color: white;
    margin: 40px 0;
}
.lanunchdomainor h1{
    font-size: 60px;
}

.sailt{
    width: 100%;
    text-align: center;
    color: white;
    font-family: 'Minecraftia', monospace;
}
.sailt h1{
    font-size: 26px;
}
.sailt h2{
    text-align: center;
}

.launcht{
    width: 100%;
    text-align: center;
    color: #B4FC75;
    font-family: 'Minecraftia', monospace;
    margin-top: 50px;
}
.launcht h1{
    font-size: 30px;
}

.rootdomaincreatecontent{
    z-index: 1;
    width: 1024px;
}

.rootcreateround{
    background: radial-gradient(
        circle,
        rgba(0, 240, 255, 0.6) 0%,      /* 亮蓝（#00F0FF） */
        rgba(153, 69, 255, 0.4) 60%,    /* Solana 紫（#9945FF） */
        rgba(153, 69, 255, 0) 100%      /* 渐隐 */
    );
    opacity: 0.25;
}

.factoryicon{
    width: 70px;
}

.supportbl{
    width: 100%;
    border-radius: 30px;
    margin-top: 120px;
}

.sailt{
    text-align: left;
}
.sailt h1{
    font-size: 22px;
}


/*common computer*/
@media (min-width: 1024px){

}
@media (width < 1024px){
    .rootdomaincreatecontent{
        width: 96%;
    }

    .rootfactorytitle h1{
        font-size: 38px;
    }
    .factoryicon{
        width: 40px;
    }

    .subrootfactorytitle h1{
        font-size: 20px;
    }
}
@media (width < 740px){
    .sailt{
        text-align: center;
    }
}
@media (width < 640px){

    .RootDomainCreate{
        margin-top: 100px;
    }

    .rootfactorytitle{
        gap: 5px;
    }
    .rootfactorytitle h1{
        font-size: 29px;
    }
    .factoryicon{
        width: 30px;
    }

    .subrootfactorytitle{
        margin-top: 15px;
    }
    .subrootfactorytitle h1{
        font-size: 14px;
    }

    .supportbl{
        margin-top: 60px;
        height: 800px;
    }
    .sailt{
        padding-top: 10px;
    }
    .sailt h1{
        font-size: 14px;
    }

    .lanunchdomainor{
        margin-top: 60px;
        margin-bottom: 10px;
    }
    .lanunchdomainor h1{
        font-size: 29px;
    }

    .launcht{
        margin-top: 30px;
    }
    .launcht h1{
        font-size: 19px;
    }
}