

.increasePrice{
    position: fixed;
    width: 100vw;
    height: 100vh;
    z-index: 1200;
    background-color: #081328;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    overflow-y: auto;
}

.increasePricepageflex{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
    position: relative;
    width: 1024px;
}

.increasePricepaytitle{
    display: flex;
    flex-direction: row;
    align-items: baseline;
    width: 100%;
    margin-top: 80px;
    gap: 20px;
}
.increasePricepaytitle h2{
    color: white;
    opacity: 0.8;
    font-size: 18px;
}
.increasePricepaytitle h1{
    color: white;
    font-size: 30px;
    margin: 0;
}

@media (min-width: 1024px){
    
}
@media (width < 1024px){
    .increasePricepageflex{
        width: 96%;
        height: auto;
        overflow-y: auto;
        overflow-x: hidden;
        scrollbar-width: none;
    }
    .increasePricepageflex::-webkit-scrollbar {
        display: none;
    }
}
@media (width < 640px){

    .increasePricepageflex{
        margin-top: 30px;
    }

    .increasePricepaytitle{
        width: 96%;
        margin-top: 60px;
        gap: 10px;
    }
    .increasePricepaytitle h2{
        font-size: 13px;
    }
    .increasePricepaytitle h1{
        font-size: 18px;
    }
}