

.totalfees{
    height: calc(100% - 40px);
    width: 32%;
}

.cannotbeconfirmed{
    background-color: #B5B9BF!important;
    pointer-events: none;
}

@media (width < 1024px){
    .totalfees{
        height: 210px;
        width: calc(96% - 40px)
    }
}