
.cryptototal h2{
    font-size: 15px;
}

.cannotcomfirmcreateroot{
    background-color: #B5B9BF !important;
    pointer-events: none;
}

@media (width < 1024px){

    .createrootsettlebills{
        height: 210px;
        width: calc(96% - 40px) !important;
    }
}
@media (width < 640px){

}
