

.undisplay{
    display: none;
}

.ipfsfeeloding{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 0;
}

.ipfsloadingimg{
    transform-origin: center center;   /* 关键：以元素中心为原点 */
    animation: spin 1.2s linear infinite;
    width: 20px;
}

@keyframes spin {
    0%   { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

@media (min-width: 1024px){
    
}
@media (width < 1024px){
    
}
@media (width < 640px){
    .settleIpfs{
        height: 200px;
    }

    .ipfsfeeloding{
        padding: 0 0 10px 0 ;
    }
}