

.totalfees{
    background-color: #161F2F;
    display: flex;
    flex-direction: column;
    position: relative;
    border-radius: 10px;
    padding: 20px;
    width: 100%;
    margin-bottom: 200px;
}
.totalfees h1{
    color: white;
    font-weight: 500;
    font-size: 20px;
}

.registerfee{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.registerfee h1{
    font-weight: 600;
    font-size: 15px;
    color: white;
    margin: 0;
}

.registerrule h1{
    font-weight: 500;
    color: #B5B9BF;
    font-size: 15px;
    margin: 0;
}

.rentfee{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.rentfee h1{
    font-weight: 500;
    color: #B5B9BF;
    margin: 0;
    font-size: 14px;
}
.rentfee h2{
    font-weight: 300;
    color: white;
    margin: 0;
    font-size: 16px;
}

.cryptoconfirm{
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    bottom: 20px;
    width: calc(100% - 40px);
}

.cryptoconfirmbutton{
    height: 60px;
    background-color: #B4FC75;
    display: flex;
    align-items: center;
    justify-content: center;
}
.cryptoconfirmbutton:hover{
    opacity: 0.9;
}
.cryptoconfirmbutton h1{
    color: black;
    padding: 0;
    font-weight: 600;
}

.cryptototal{
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-between;
}
.cryptototal h1{
    font-size: 19px;
}
.cryptototal h2{
    font-weight: 600;
    color: white;
    font-size: 17px;
}

@media (min-width: 1024px){
    
}
@media (width < 1024px){
    .totalfees{
        height: auto;
        width: 100%;
    }
}
@media (width < 640px){
    .totalfees h1{
        font-size: 17px;
    }

    .registerfee h1{
        font-size: 14px!important;
    }

    .cryptototal h1{
        font-size: 16px!important;
    }
    .cryptototal h2{
        font-size: 16px !important;
    }
}