
.wholeLineBlcok{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #1C2334;
    padding: 10px 20px;
    width: calc(100% - 40px);
    border-radius: 12px;
}

.webtitleandfunctionshow{
    display: flex;
    flex-direction: column;
    width: 55%;
}
.webtitleandfunctionshow h1{
    color: white;
    padding: 0;
    margin: 0;
    font-weight: 500;
    margin-left: 10px
}

.lineweb{
    height: 4px;
    background-color: #B4FC75;
    margin: 15px 0 10px 0;
    filter: blur(1px);
}

.webfunctionbl{
    display: flex;
    flex-direction: row;
    gap: 5px;
    margin-top: 5px;
}

.webcreatefunctionbl{
    width: 44%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.createwebfunctionbu{
    background-color: #B4FC75;
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
    justify-content: center;
    width: 88%;
}
.createwebfunctionbu h1{
    color: black;
    margin: 0;
    font-family: 'Minecraftia', monospace;
}
.createwebfunctionbu:active{
    transform: translateY(2px) translateX(2px);
}

/*common computer*/
@media (min-width: 1024px){
    .webtitleandfunctionshow h1{
        font-size: 32px;
    }

    .manageicon{
        width: 25px;
    }
    .createwebfunctionbu h1{
        font-size: 18px;
    }

    .ipfsicon{
        width: 32px;
    }
}