

.layout{
    display: flex;
    flex-direction: column;
    width: 100vw;
    overflow-x: hidden;
    min-height: 100%;
    background-color: #081328;
}

.outlet{
    flex: 1;
    overflow: hidden;
}