



.SearchPage{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.backtoLastPage{
    top: 120px;
}

.searchPageContent{
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
}

/*common computer*/
@media (min-width: 1024px){
    .bakcicon{
        width: 30px;
    }

    .backIndex h1{
        font-size: 32px;
        margin: 0;
    }

    .searchPageContent{
        width: 1024px;
    }
}
@media (width < 1024px){
    .searchPageContent{
        width: 100%;
    }

    .backtoLastPage{
        top: 80px;
    }
}