
.usrPage{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    z-index: 1;
}

.usrpagecon{
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
    width: 1024px;
    z-index: 10;
}

.bakcicon{
    width: 30px;
}

.backIndex h1{
    font-size: 32px;
    margin: 0;
}

/*common computer*/
@media (min-width: 1024px){

}
@media (width < 1024px){
    .usrpagecon{
        width: 96%;
    }
}
@media (width < 640px){

}

