

.custompriceSet{
    position: relative;
    width: 1024px;
    margin-top: 130px;
    height: 1000px;
    overflow-x: hidden;
    overflow-y: auto;
    scrollbar-width: none;
    -ms-overflow-style: none; 
}

.customPriceSetBack{
    top: 10px;
}

.custompriceSet{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.setCustomPricepaytitle{
    display: flex;
    flex-direction: row;
    align-items: baseline;
    width: 100%;
    margin-top: 80px;
    gap: 20px;
}
.setCustomPricepaytitle h2{
    color: white;
    opacity: 0.8;
    font-size: 19px;
}

.setcustomdomainName{
    display: flex;
    flex-direction: row;
    align-items: baseline;
}
.setcustomdomainName h1{
    color: white;
    font-size: 35px;
    margin: 0;
}
.setcustomdomainName h2{
    color: #CED0D4;
    font-size: 27px;
    margin: 0;
}


@media (min-width: 1024px){
    
}
@media (width < 1024px){
    .custompriceSet{
        width: 96%;
    }
    
    .setCustomPricepaytitle{
        width: 96%;
    }
}
@media (width < 640px){
    .custompriceSet{
        margin-top: 80px;
    }

    .setCustomPricepaytitle{
        margin-top: 70px;
    }
    .setCustomPricepaytitle h2{
        font-size: 17px;
    }

    .setcustomdomainName h1{
        font-size: 30px;
    }
    .setcustomdomainName h2{
        font-size: 20px;
    }

}