

.SetCustomPriceCryptoine{
    width: 100%;
    margin: 20px 0;
    background-color: white;
    height: 1px;
    filter: blur(1px);
}

.CustomSetPage{
    margin-top: 10px;
}

.SetCustomPriceCrypto{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 280px;
    gap: 40px;
    margin-top: 20px;
}

@media (min-width: 1024px){
    
}
@media (width < 1024px){
    .SetCustomPriceCrypto{
        flex-direction: column;
        align-items: center;
        height: auto;
    }
}
@media (width < 640px){
    .SetCustomPriceCrypto{
        gap: 20px;
    }
}