

.cartbu{
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100%;
    background-color: #161A39;
    gap: 10px;
    border-radius: 6px;
    padding: 3px 10px;
}
.cartbu:hover{
    background-color: #434C52;
}
.cartbu h1{
    color: white;
    font-size: 14px;
}

.cartbuicon{
    width: 17px;
}

.carttwobu{
    display: flex;
    flex-direction: row;
    gap: 8px;
    height: 100%;
    align-items: center;
}

.showDeleteBl{
    height: 80%;
    background-color: #B4FC75;
    display: flex;
    align-items: center;
    border-radius: 5px 0 0 5px;
    cursor: pointer;
}
.showDeleteBl:hover{
    opacity: 0.8;
}

.cartarrayimg{
    width: 16px;
    transform: scaleY(2);
    transform-origin: center;
}

.shellcart{
    padding: 0 20px;
    background-color: #161A39;
    width: calc(300px);
    padding: 20px 20px;
    position: absolute;
    display: flex;
    right: 0;
    top: 50px;
    border-radius: 20px;
    
}

.cartsettle{
    width: 100%;
    max-height: 300px;
    flex-direction: column;
    align-items: center;
    overflow-y: auto;
    scrollbar-width: none;
    -ms-overflow-style: none;
    overflow-x: hidden;
}
.cartsettle::-webkit-scrollbar {
    display: none; /* Chrome, Safari */
}

.cartitem{
    width: 100%;
    height: 75px;
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: center;
}

.noitem{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
}
.noitem h1{
    color: white;
    font-size: 26px;
    margin: 0;
}

.contouchbl{
    width: 150%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.domainitemcart{
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-content: space-between;
    padding: 0 0px 0  5px;
    width: calc(100% - 5px);
    height: 100%;
}

.greendelete{
    width: 50%;
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #B4FC75;
    cursor: pointer;
}
.greendelete:hover{
    opacity: 0.9;
}
.greendelete h1{
    color: black;
    font-size: 19px;
}

.nameandpricecart{
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}
.nameart h1,
.nameandpricecart h2{
    color: white;
    margin: 0;
    font-size: 16px;
    margin-top: 10px;
    font-weight: 500;
    margin-left: 20px;
}

.artball{
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: linear-gradient(to right, #a855f7, #22c55e);
    margin-right: 10px;
}

.nameart{
    display: flex;
    flex-direction: row;
    align-items: baseline;
}
.nameart h1,
.nameart h2{
    font-size: 18px;
    margin: 0;
    font-weight: 600;
}
.nameart h2{
    color: #979DAB;
}

.cartitemline{
    width: 100%;
    background-color: white;
    height: 1px;
    position: absolute;
    bottom: 0;
    filter: blur(1px);
}

.deletethecartitem{
    width: 50px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #B4FC75;
}
.deletethecartitem:hover{
    opacity: 0.8;
}
.cartexitimg{
    width: 20px;
}


@media (width < 1024px){
    .cartsettle{
        right: -100px;
    }
}
@media (width < 860px){
    .cartbu{
        padding: 3px 5px;
    }
    .cartbu h1{
        display: none;
    }
}
@media (width < 640px){
    .shellcart{
        width: 150px;
        border-radius: 8px;
        padding: 10px 15px 15px 15px;
    }

    .noitem{
        height: 40px;
    }
    .noitem h1{
        font-size: 22px;
    }

    .cartitem{
        height: 60px;
        justify-content: baseline;
    }

    .artball{
        width: 10px;
        height: 10px;
    }

    .nameart h1,
    .nameart h2{
        font-size: 14px;
    }

    .nameandpricecart h2{
        font-size: 12px;
        margin-top: 2px;
    }

    .deletethecartitem{
        width: 30px;
        height: 25px;
        border-radius: 5px;
    }
    .cartexitimg{
        width: 16px;
    }

    .greendelete h1{
        font-size: 13px;
    }
}
@media (width < 450px){
    .shellcart{
        right: -30px;
    }
}