

.eyeback{
    display: flex;
    flex-direction: row;
    height: 100%;
    align-items: center;
}

.eyebackicon{
    display: flex;
    align-items: center;
}

.eyeline{
    width: 1px;
    height: 100%;
    background-color: white;
    opacity: 0.8;
    margin: 0 10px;
    filter: blur(1px);
}
.eyebackicon {
    width: 270px;
}

/*common computer*/
@media (min-width: 1024px){
    
}
@media (width < 1024px){
    .eyebl{
        width: 110px;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 10px;
    }
    .eyebackicon{
        width: 220px;
        object-fit: cover;   /* 保持比例填满容器，超出裁剪 */
        object-position: center;
    }
}
@media (width < 640px){
    .eyebl{
        margin-left: 5px;
        width: 60px;
    }
    .eyebackicon{
        width: 140px;
        object-fit: cover;   /* 保持比例填满容器，超出裁剪 */
        object-position: center;
    }

    .eyeline{
        margin: 0 5px;
    }
}