

.filterbl{
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-content: center;
    padding: 10px;
    background-color: #161A39;
    border-radius: 10px;
    border: 1px solid #434C52;
    width: 120px;
}
.filterbl h1{
    color: white;
    font-weight: 500;
    margin: 0;
    font-size: 19px;
}
.filterbl:hover{
    opacity: 0.85;
}

.filterimg{
    width: 20px;
}
/*common computer*/
@media (width < 1024px){
    .filterbl{
        width: 60px;
    }
    .filterbl h1{
        display: none;
    }
}
@media (width < 640px){
    .filterbl{
        width: 60px;
        gap: 5px;
    }
    .filterbl h1{
        font-size: 12px;
    }
    .filterimg{
        width: 18px;
    }
}