

.sorcontenttbl{
    width: 60px;
    height: 100%;
    position: relative;
    z-index: 1;
}

.sortbl{
    display: flex;
    align-items: center;
    background-color: #161A39;
    border: 1px solid #434C52;
    border-radius: 10px;
    width: 100%;
    height: 100%    ;
    justify-content: center;
}
.sortbl:hover{
    opacity: 0.85;
}

.sortimg{
    width: 20px;
}

.chooseSortbl{
    width: 180px;
    background-color: #161A39;
    right: 0;
    position: absolute;
    top: 70px;
    border-radius: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.sortwaychoosebu{
    position: relative;
    background-color: #161A39;
}
.sortwaychoosebu:hover{
    background-color: #434C52;
}
.sortwaychoosebu h1{
    color: white;
    font-size: 14px;
    font-weight: 500;
    margin: 0;
}

.rightswayattention{
    width: 12px;
    height: 12px;
    border-radius: 50%;
    position: absolute;
    left: 10px;
    top: calc(50% - 6px);
    background-color: white;
}

/*common computer*/
@media (min-width: 1024px){
    
}
@media (width < 1024px){

}
@media (width < 640px){
    .sortimg{
        width: 16px;
    }
}